{% comment %}

Base Template

NOTES:
Base template extended into all other templates.
Allows for efficient preservation of key components.

More info:
https://docs.djangoproject.com/en/3.2/topics/templates/

{% endcomment %}

{% load static compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block analytics_head %}
    {% endblock analytics_head %}
    {% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SLM 2.0</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'slm/img/favicon.ico' %}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- https://github.com/lipis/flag-icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/7.3.2/css/flag-icons.min.css" integrity="sha512-+WVTaUIzUw5LFzqIqXOT3JVAc5SrMuvHm230I9QAZa6s+QRk8NDPswbHo2miIZj3yiFyV9lAgzO1wVrjdoO4tw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% compress css %}
        <link rel='stylesheet' type='text/css' media='screen' href='{% static "slm/css/style.css" %}'>
        <link rel='stylesheet' type='text/css' media='screen' href='{% static "slm/css/defines.css" %}'>
        {% endcompress %}
    {% endblock stylesheets %}


    {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% compress js %}
            <script src="{% static 'slm/js/fileIcons.js' %}"></script>
            <script src="{% static 'slm/js/slm.js' %}"></script>
            <script src="{% static 'urls.js' %}"></script>
            <script src="{% static 'slm/js/time24.js' %}"></script>
            <script src="{% static 'slm/js/enums.js' %}"></script>
            <script src="{% static 'slm/js/persistable.js' %}"></script>
            <script src="{% static 'slm/js/form.js' %}"></script>
            <script src="{% static 'slm/js/formWidget.js' %}"></script>
            <script src="{% static 'slm/js/autocomplete.js' %}"></script>
        {% endcompress %}

        <script>
            slm.isModerator = {% if is_moderator %}true{% else %}false{% endif %};
            slm.canPublish = {% if can_publish %}true{% else %}false{% endif %};
            $.ajaxSetup({
                beforeSend: function (xhr)
                {
                    xhr.setRequestHeader(
                        'X-CSRFToken', '{{ csrf_token }}');
                }
            });
        </script>
    {% endblock javascript %}
    {% endblock head %}
</head>

<body>

    {% block analytics_body %}
    {% endblock analytics_body %}

    <!-- Django message alert icons, these are referenced from message divs -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="debug-msg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1ZM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Z"/>
        <path d="M9.653 5.496A2.986 2.986 0 0 0 8 5c-.61 0-1.179.183-1.653.496L4.694 2.992A5.972 5.972 0 0 1 8 2c1.222 0 2.358.365 3.306.992L9.653 5.496Zm1.342 2.324a2.986 2.986 0 0 1-.884 2.312 3.01 3.01 0 0 1-.769.552l1.342 2.683c.57-.286 1.09-.66 1.538-1.103a5.986 5.986 0 0 0 1.767-4.624l-2.994.18Zm-5.679 5.548 1.342-2.684A3 3 0 0 1 5.005 7.82l-2.994-.18a6 6 0 0 0 3.306 5.728ZM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
      </symbol>
      <symbol id="success-msg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-msg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="warning-msg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
      <symbol id="error-msg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
<!------->

  <!-- Top Navigation Menu -->
  <div id="top-bar">
    <nav class="navbar navbar-dark bg-igs-blue border-bottom border-dark navbar-expand-xl bg-faded justify-content-between">
      <div class="container-fluid mx-4">
        {% block branding %}
        <div class="d-flex align-items-center w-50">
          <a href="{% url "slm:home" %}" class="navbar-brand"><img id="logo" class="me-4" src="{% static 'slm/img/slm-logo.svg' %}" alt="SLM"> Site Log Manager {{ slm_version }}</a>
        </div>
        {% endblock branding %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3" title="Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
            {% block top_menu %}
              <!--
              Template for top menu bar
              -->
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                  <ul class="navbar-nav w-100 justify-content-evenly">
                    {% include "slm/top_nav.html" with url_name=request.resolver_match.url_name %}
                  </ul>
                  <ul class="nav navbar-nav ms-auto w-100 justify-content-end">             
                    <li class="nav-item dropdown">
                      <a id="quick-help" class="nav-link help-popover" role="button" tabindex="0"  title="Legend">
                        Legend <i class="bi bi-info-circle ms-1"></i>
                      </a>
                      {% include "slm/widgets/legend.html" with url_name=request.resolver_match.url_name %}
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="{% url 'slm:alerts' %}" aria-label="notifications">Alerts <i class="bi bi-bell{% if alert_level %}-fill {{ alert_level.css }}{% endif %} ms-1"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a id="user-dropdown" class="nav-link dropdown-toggle {% if user.is_hijacked %}hijacked{% endif %}" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %} </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <!-- User Drop Down -->
                        {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url "admin:index" %}">Admin</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url "slm:profile" %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url "account_change_password" %}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url "slm:user_activity" %}">Activity Log</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        {% if user.is_hijacked %}
                        <li class="release-hijack">
                          <form action="{% url 'hijack:release' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button
                              type="submit"
                              class="dropdown-item"
                              aria-label="End impersonation and return to your original account"
                              title="End impersonation and return to your original account"
                            >
                              Release
                            </button>
                          </form>
                        </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url "account_logout" %}">Logout</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                </div>
            {% endblock %}
          {% endif %}
        </div>
      </nav>
    </div>

    {% block login_content %}{% endblock %}

    {% block page_content %}{% endblock %}

  <div id="footer" class="container-fluid bg-igs-blue mt-auto ps-4">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
      <div class="col-md-4 d-flex align-items-center pe-4">
        <a href="{% url "slm:home" %}" class="navbar-brand mb-3 me-2 mb-md-0"><img id="footer-logo" src="{% static 'slm/img/slm-logo.svg' %}" alt="SLM">
        <span class="mb-3 mb-md-0 text-light"><a href="https://igs.org" target="_blank" style="color: whitesmoke; text-decoration: none">Powered by International GNSS Service</a></span>
      </div>
      <div id="footer-links" class="d-flex flex-row justify-content-end">
        <a href="https://igs.org/contact-us" class="footer-link me-4">Contact Us</a>
        <a href="https://igs.org/privacy-policy" class="footer-link me-4">Privacy Policy</a>
        <a href="{% url 'slm:help' %}" class="footer-link me-4">Help</a>
      </div>
    </footer>
  </div>
</body>

  {% compress js inline %}
  <script type='text/javascript'>
    $(document).ready(function() {
      var options = {
        html: true,
        content: $('[data-name="quick-help-info"]')
      }
      var helpPopover = document.getElementById('quick-help')
      var popover = new bootstrap.Popover(
          document.querySelector('.help-popover'), {
        container: 'body',
        html: true,
        content: document.getElementById('quick-help-info'),
      })
    })
  </script>
  {% endcompress %}
</html>