<!--
  
Template for help/documentation page.

-->

{% extends "slm/base.html" %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <!-- Documentation Navigation -->
            <div class="col-3 mt-5">
                <div id="doc-list" class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#overview" tabindex="0">Overview</a>
                        <a class="list-group-item list-group-item-action" href="#process" tabindex="0"><span class="ms-3">4 Step Process</span></a>
                        <a class="list-group-item list-group-item-action" href="#about-slm" tabindex="0"><span class="ms-3">About SLM 2.0</span></a>
                        <a class="list-group-item list-group-item-action" href="#changes" tabindex="0"><span class="ms-3">What Changed?</span></a>
                        <a class="list-group-item list-group-item-action" href="#phases" tabindex="0"><span class="ms-3">Development Phases</span></a>
                        <a class="list-group-item list-group-item-action" href="#open-source" tabindex="0"><span class="ms-3">Open Source</span></a>
                        <a class="list-group-item list-group-item-action" href="#gdpr" tabindex="0"><span class="ms-3">GDPR Compliance</span></a>
                    <a class="list-group-item list-group-item-action" href="#register-login" tabindex="0">Register/Login</a>
                        <a class="list-group-item list-group-item-action" href="#new-users" tabindex="0"><span class="ms-3">New Users</span></a>
                        <a class="list-group-item list-group-item-action" href="#existing-users" tabindex="0"><span class="ms-3">Existing Users</span></a>
                        <a class="list-group-item list-group-item-action" href="#login" tabindex="0"><span class="ms-3">Login</span></a>
                        <a class="list-group-item list-group-item-action" href="#forgot-pw" tabindex="0"><span class="ms-3">Forgot Password</span></a>
                    <a class="list-group-item list-group-item-action" href="#layout-menus" tabindex="0">Layout and Menus</a>
                    <a class="list-group-item list-group-item-action" href="#managing-data" tabindex="0">Managing Station Data</a>
                        <a class="list-group-item list-group-item-action" href="#making-changes" tabindex="0"><span class="ms-3">Making Changes</span></a>
                        <a class="list-group-item list-group-item-action" href="#upload-file" tabindex="0"><span class="ms-3">Upload (optional)</span></a>
                        <a class="list-group-item list-group-item-action" href="#edit-sections" tabindex="0"><span class="ms-3">Edit Sections</span></a>
                        <a class="list-group-item list-group-item-action" href="#upload-images" tabindex="0"><span class="ms-3">Upload Images</span></a>
                </div>
            </div>
            <!-- End of Documentation Navigation -->

            <!-- Documentation Content -->
            <div class="col-8">
                <!-- Title -->
                <div class="mt-5 mb-3 border-bottom">
                    <h1>SLM Documentation</h1>
                </div>

                <!-- Content -->
                <div id="help" class="position-relative overflow-auto" data-bs-spy="scroll" data-bs-target="#doc-list" data-bs-smooth-scroll="true" tabindex="0" style="max-height: 750px;">
                    {% autoescape off %}
                        {{ help.content }}
                    {% endautoescape %}
                </div>
            </div>
            <!-- End of Documentation Content -->
        </div>
    </div>
{% endblock %}
