{% load i18n %}

<div class="slm-scroll-container">
    <div
        id='slm-alert-scroll'
        class="list-group overflow-auto vh-100 w-100 no-scrollbar"
        data-slm-page=0
        data-slm-page-size={{page_size|default:10}}
    >
        <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
            <div class="slm-loader"></div>
        </div>
    </div>
</div>

<script>
    const deleteAlert = function(alertId) {
        this.event.stopPropagation();
        $(document.body).css({'cursor' : 'wait'});
        $.ajax({
            url: slm.urls.reverse(
                'slm_edit_api:alerts-detail',
                {kwargs: {'pk': alertId}}
            ),
            method: 'DELETE'
        }).done(
            function() {
                $(document.body).css({'cursor' : 'initial'});
                $(`#alert-${alertId}`).remove();
                {% if site %}
                $.ajax({
                    url: slm.urls.reverse(
                        'slm_edit_api:stations-detail',
                        {kwargs: {pk: {{ site.pk }} }}
                    )
                }).done(function(data) {
                   slm.updateAlertBell(data);
                });
                {% endif %}
            }
        ).fail(
            function(jqXHR) {
                $(document.body).css({'cursor' : 'initial'});
                console.log(jqXHR);
            }
        );
    }

    $(document).ready(function() {
        let reinitialize = true;
        const scrollDiv = $("#slm-alert-scroll");
        const includeTargets = {% if exclude_targets %}false{% else %}true{% endif %};

        function drawAlerts(position, data) {
            if (reinitialize) {
                scrollDiv.find('.slm-alert-item').remove();
                scrollDiv.find('h3').remove();
            }
            reinitialize = false;
            for (const alert of data) {
                const level = slm.AlertLevel.get(alert.level);
                const timestamp = new Date(alert.timestamp);
                let siteUrl = null;
                if (alert.site) {
                    siteUrl = slm.urls.reverse('slm:edit', {kwargs: {'station': alert.site}});
                }
                const deleteButton = function() {
                    if (alert.sticky) {
                        return '';
                    }
                    return `<div class="slm-alert-close" style="cursor: pointer" onclick="deleteAlert(${alert.id})" title='{% trans "Dismiss alert" %}'><i class="bi bi-trash3 text-danger"></i></div>`;
                }
                const targetButton = function() {
                    if (alert.target && includeTargets) {
                        return `<a class="btn btn-outline ${level.css}" tabindex= "0" href='${ alert.target.link }' type="button">${alert.target.name}</a>`;
                    }
                    return '';
                }
                const alertQuery = function() {
                    if (alert.target && alert.target.type === 'Agency') {
                        return `?agency=${alert.target.id}`;
                    }
                    return '';
                }
                $(`<div id="alert-${alert.id}" class="slm-alert-item ${level.css} d-flex gap-3 py-3 mt-1" aria-current="true" data-slm-alert=${alert.id}>` +
                        `<div class="d-flex gap-2 w-100 justify-content-between">` +
                            `<div>` +
                                `<h3 class="mb-2 slm-alert-header"><a href="${slm.urls.reverse('slm:alert', {kwargs: {alert: alert.id}})}${alertQuery()}">${alert.header}</a></h3>` +
                                `<div class="opacity-75 slm-alert-detail">${alert.detail}</div>` +
                                targetButton() +
                            `</div>` +
                        `</div>` +
                        `<div class="opacity-75 slm-alert-time">` +
                            `<small class="text-nowrap">${timestamp.toLocaleString()}</small>` +
                        `</div>` +
                        deleteButton() +
                    `</div>`
                ).insertBefore(position);
            }
            if (data.length === 0 && scrollDiv.data('slmPage') === 0 ) {
                $(
                    `<h3 class="text-center text-secondary">{% trans 'No Alerts' %}</h3>`
                ).insertBefore(position);
            }
        }

        const init = function() {
            reinitialize = true;
            slm.initInfiniteScroll(
                scrollDiv,
                scrollDiv,
                $('#slm-alert-scroll .slm-loader'),
                "slm_edit_api:alerts-list",
                {},
                {% if station %}{site: '{{ station|safe }}'}{% else %}{}{% endif %},
                (position, data) => { drawAlerts(position, data); }
            );
        }
        const stationsFiltered = function(queryParams) {
            scrollDiv.data('slmPage', 0);
            scrollDiv.data('slmQuery', queryParams);
            init();
        }
        /* this is a little clunky - avoid double init when station
         * filter is present on the page
         */
        init();
        slm.stationFilterCallbacks.push(stationsFiltered);
    });
</script>

