<div class="slm-scroll-container">
    <div
        id='slm-log-scroll'
        class="list-group overflow-auto vh-100 w-100 no-scrollbar"
        data-slm-page=0
        data-slm-page-size={{page_size|default:30}}
    >
        <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
            <div class="slm-loader"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let reinitialize = true;
        const scrollDiv = $("#slm-log-scroll");
        const drawLogs = function(position, data) {
            if (reinitialize) {
                scrollDiv.find('.slm-log-item').remove();
                scrollDiv.find('h3').remove();
            }
            reinitialize = false;
            function getName(entry) {
                if (entry.hasOwnProperty('user') && entry.user !== null) {
                    return slm.mailToUser(entry.user);
                }
                return '';
            }
            for (const entry of data) {
                const type = slm.LogEntryType.get(entry.type);
                const timestamp = new Date(entry.timestamp);
                $(`<div class="slm-log-item d-flex py-2 mt-1 ${type.css}" aria-current="true" tabindex="0" onclick="window.location='${entry.link}'">` +
                        `<div class="d-flex w-100 justify-content-between align-items-center">` +
                            `<div class="d-flex justify-content-evenly align-items-center">` +
                                `<span class="m-0 me-2 p-0 mono fw-bold"><a href="${slm.urls.reverse('slm:edit', {kwargs: {station: entry.station}})}">${entry.station}</a></span>` +
                                `<span class="badge ${type.css} me-2">${type.label}</span>` +
                                `<span>${entry.hasOwnProperty('section') && entry.section ? entry.section : ''}</span>` +
                            `</div>` +
                            `<div class="d-flex justify-content-evenly align-items-center">` +
                                `<div class="opacity-75 me-2">${getName(entry)}</div>` +
                                `<small class="text-nowrap opacity-75">${timestamp.toLocaleString()}</small>` +
                                // `<small class="d-flex justify-content-end">${entry.ip ? entry.ip : ''}</small>` +
                            `<div/>` +
                        `</div>` +
                    `</div>`
                ).insertBefore(position);
            }
            let div = $("#slm-log-scroll");
            if (data.length === 0 && div.data('slmPage') === 0) {
                $(`<h3 class="text-center text-secondary">No Recent Activity</h3>`
                ).insertBefore(position);
            }
        }

        const init = function() {
            reinitialize = true;
            slm.initInfiniteScroll(
                scrollDiv,
                scrollDiv,
                $('#slm-log-scroll .slm-loader'),
                "slm_edit_api:logentries-list",
                {},
                {% if station %}{site: '{{ station }}'}{% elif log_user %}{user: '{{ log_user.email }}'}{% else %}{}{% endif %},
                (position, data) => { drawLogs(position, data); }
            );
        };

        const stationsFiltered = function(queryParams) {
            scrollDiv.data('slmPage', 0);
            scrollDiv.data('slmQuery', queryParams);
            init();
        }
        init();
        slm.stationFilterCallbacks.push(stationsFiltered);
    });
</script>
