{% load slm compress i18n %}


<hr/>

<h4>
{% if finding_errors %}
{% trans 'This log was rejected because' %} <span style="color: red">{{ finding_errors }} {% trans 'errors were found.' %}</span> {% trans 'Scroll down to see the errors. Please correct them and resubmit.' %}
{% elif finding_warnings %}
{% trans 'This log was accepted with' %} {{ finding_warnings }} {% trans 'warnings. Please correct the warnings if possible. To publish this log please' %} <a href="{% url 'slm:review' station=station %}">{% trans 'submit it for review.' %}</a>
{% else %}
{% trans 'This log was accepted. To publish these changes please' %} <a href="{% url 'slm:review' station=station %}">{% trans 'submit it for review.' %}</a>
{% endif %}
</h4>

<hr/>

<pre id="slm-parsed-legacy">{% for line in file|file_lines %}{% with idx=forloop.counter0 %}
<span data-line-number={{ idx }} class="{{ findings|finding_class:idx }}" {% if findings|finding_content:idx %}data-bs-toggle="popover" title="{{ findings|finding_title:idx }}" data-bs-custom-class="{{ findings|finding_class:idx }}" data-bs-html="true" data-bs-content="{{ findings|finding_content:idx }}"{% endif %}>{{ line }}</span>{% endwith %}{% endfor %}
</pre>


{% compress css inline %}
<style>
    pre#slm-parsed-legacy {
        background-color: ghostwhite;
    }
    pre#slm-parsed-legacy span.slm-parse-error {
        background-color: #dc3545;
    }
    pre#slm-parsed-legacy span.slm-parse-error:hover {
        width: 100%;
        background-color: darkred;
        color: white;
        cursor: pointer;
    }
    pre#slm-parsed-legacy span.slm-parse-warning {
        background-color: orange;
    }
    pre#slm-parsed-legacy span.slm-parse-warning:hover {
        width: 100%;
        background-color: darkorange;
        color: white;
        cursor: pointer;
    }
    pre#slm-parsed-legacy span.slm-parse-ignore {
        background-color: lightgrey;
    }
    pre#slm-parsed-legacy span.slm-parse-ignore:hover {
        width: 100%;
        background-color: darkgray;
        color: white;
        cursor: pointer;
    }

    div.popover.slm-parse-error h3 {
        background-color: darkred;
        color: white;
    }

    div.popover.slm-parse-warning h3 {
        background-color: darkorange;
        color: white;
    }

    div.popover.slm-parse-ignore h3 {
        background-color: darkgray;
        color: white;
    }
}

</style>
{% endcompress css %}

{{findings | json_script:"slm-parse-findings"}}

{% compress js inline %}
<script type="text/javascript">

    const findings = JSON.parse(
        document.getElementById('slm-parse-findings').textContent
    );

</script>
{% endcompress js %}