div.slm-status input + label:before {
    font-family: 'Bootstrap-icons';
    content: '\F582';
    border: 1px solid #000;
    border-radius: 4px;
}


div.slm-alert-level input + label:before {
    font-family: 'Bootstrap-icons';
    content: '\F189';
}

