<!--

Template for 0 - Site Form

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
  <form method="post">
    {% csrf_token %}
    <!-- Prepared by -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label for="{{ siteForm_0.Prepared_By.id_for_label }}" class="form-label"> {{ siteForm_0.Prepared_By.label }} </label>
      </div>
      <div class="col-6">
        {% render_field siteForm_0.Prepared_By class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" aria-label="{{ siteForm_0.Prepared_By.label }} help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
          Enter the name of who prepared this site log
        "><i class="bi bi-question-circle"></i></a> 
      </div>
    </div>
    <!-- Date Prepared -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label for="{{ siteForm_0.Date_Prepared.id_for_label }}" class="form-label">{{ siteForm_0.Date_Prepared.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteForm_0.Date_Prepared class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" aria-label="{{ siteForm_0.Date_Prepared.label }} help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the date the site log was prepared
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Report Type -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label for="{{ siteForm_0.Report_Type.id_for_label }}" class="form-label">{{ siteForm_0.Report_Type.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteForm_0.Report_Type class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" aria-label="{{ siteForm_0.Report_Type.label }} help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter type of report. Example: (UPDATE)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Previous Log -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label for="{{ siteForm_0.Previous_Log.id_for_label }}" class="form-label">{{ siteForm_0.Previous_Log.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteForm_0.Previous_Log class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" aria-label="{{ siteForm_0.Previous_Log.label }} help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter previous site log in this format: ssss_CCYYMMDD.log Format: (ssss = 4 character site name)
        If the site already has a log at the IGS Central Bureau, enter the filename currently found under https://files.igs.org/pub/station/log/
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Modified Sections -->
    <div class="row align-items-center d-flex mb-2">
      <div class="col-3">
        <label for="{{ siteForm_0.Mod_Sections.id_for_label }}" class="form-label">{{ siteForm_0.Mod_Sections.label }}</label>
        <a href="#" class="d-inline-block" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="
          Enter the sections which have changed from the previous version of the log. Example: (3.2, 4.2)
          "><i class="bi bi-question-circle"></i>
        </a>
      </div>
      <div class="col-6">
        {% render_field siteForm_0.Mod_Sections class="form-control" %}
      </div>
    </div>
    <!-- Cancel/Save Buttons -->
    </br>
    <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
      <button type='button', name='cancel', class="btn btn-secondary">
        Cancel
      </button>
      <button type='submit', name='save', class="btn btn-success">
        Save
      </button>
    </div>
  </form>
</div>