<!--

Template for 10 - Local Episodic Effects

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Effective Start Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ localEpisodicEffects_10.Start_Date_Episodic.label }}</label>
            </div>
            <div class="col-6">
                {% render_field localEpisodicEffects_10.Start_Date_Episodic class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter the effective start date for the local episodic effect. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective End Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ localEpisodicEffects_10.End_Date_Episodic.label }}</label>
            </div>
            <div class="col-6">
                {% render_field localEpisodicEffects_10.End_Date_Episodic class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter the effective end date for the local episodic effect. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Event -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ localEpisodicEffects_10.Event.label }}</label>
            </div>
            <div class="col-6">
                {% render_field localEpisodicEffects_10.Event class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Describe any events near the GNSS station that may affect data quality such as tree clearing, construction, or weather events. Format: (TREE CLEARING/CONSTRUCTION/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>