<!--

Template for 12 - Responsible Agency

-->

{% load widget_tweaks %}


<div class="container form-group px-0 overflow-auto vh-100">
    <form method="post">
        {% csrf_token %}
        <!-- Agency -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Agency_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Agency_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter Responsible Agency name
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Preferred Abbreviation -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Preferred_Abbrev_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Preferred_Abbrev_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter Responsible Agency preferred abbreviation
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Mailing Address -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ responsibleAgencyInfo_12.Mailing_Address_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Mailing_Address_Resp class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter Responsible Agency mailing address
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>




        <!-- PRIMARY CONTACT -->
        <div class="section_header d-flex mt-5 mb-4 pb-3 border-bottom align-items-center">
            <h6 class="me-3">
                Primary Contact - ORGANIZATION INFORMATION ONLY
            </h6>
            <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                [information about GDPR policy and having organization information only here]
        	"><i class="bi bi-question-circle"></i></a>
        </div> 
        <!-- Contact Name -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Contact_Name_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Contact_Name_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter primary contact organization name
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
         <!-- Email -->
         <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Email_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Email_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter primary contact organization email address
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Phone Number (Primary) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Phone_Primary_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Phone_Primary_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter primary contact organization primary phone number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Phone Number (Secondary) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Phone_Secondar_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Phone_Secondar_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter primary contact organization secondary phone number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Fax -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Fax_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Fax_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter primary contact organization fax number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>




        <!-- SECONDARY CONTACT -->
        <div class="section_header d-flex mt-5 mb-4 pb-3 border-bottom align-items-center">
            <h6>
                Secondary Contact
            </h6>
        </div>  
        <!-- Contact Name -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Sec_Contact_Name_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Sec_Contact_Name_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter secondary contact name
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Email -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Sec_Email_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Sec_Email_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter secondary contact email address
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Phone Number (Primary) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Sec_Telephone_Prim_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Sec_Telephone_Prim_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter secondary contact primary phone number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Phone Number (Secondary) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Sec_Telephone_Sec_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Sec_Telephone_Sec_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter secondary contact secondary phone number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Fax -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ responsibleAgencyInfo_12.Sec_Fax_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Sec_Fax_Resp class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter secondary contact fax number
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>




        <!-- Additional Information -->
        <div class="section_header d-flex mt-5 mb-4 pb-3 border-bottom align-items-center">
            <h6>
                Additional Information
            </h6>
        </div>  
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label for="add_info_resp" class="form-label">{{ responsibleAgencyInfo_12.Additional_Info_Resp.label }}</label>
            </div>
            <div class="col-6">
                {% render_field responsibleAgencyInfo_12.Additional_Info_Resp class="form-control" id="add_info_resp" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
                Enter additional relevant information regarding the responsible agency. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>




        
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>