<!--

Template for 2 - Site Location

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
  <form method="post">
    {% csrf_token %}
    <!-- City/town -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.City_Town.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.City_Town class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the city or town the site is located in
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- State/province -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.State_Province.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.State_Province class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the state or province the site is located in
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Country/Region -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Country.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.Country class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the country/region the site is located in
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Tectonic Plate -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Tectonic_Plate.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.Tectonic_Plate class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Select the primary tectonic plate that the GNSS site occupies
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>




    <!-- APPROXIMATE POSITION (ITRF) -->
    <div class="section_header mt-5 mb-4 d-flex justify-content-between pb-3 border-bottom">
      <h6>
        Approximate Position (ITRF)
      </h6>
    </div>
    <!-- X coordinate (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.X_coord.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field siteLocation_2.X_coord class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format (m)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Y coordinate (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Y_coord.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field siteLocation_2.Y_coord class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format (m)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Z coordinate (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Z_coord.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field siteLocation_2.Z_coord class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format (m)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Latitude (N is +) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Latitude.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.Latitude class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format: (+/-DDMMSS.SS)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Longitude (E is +) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Longitude.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.Longitude class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format: (+/-DDMMSS.SS)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Elevation (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ siteLocation_2.Elevation.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field siteLocation_2.Elevation class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the ITRF position to a one meter precision. Format: The elevation may be given to more decimal places than F7.1. 7.1 is a minimum for the SINEX format
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Additional Information -->
    <div class="row align-items-start d-flex justify-content-between mb-2">
      <div class="col-3 pt-2">
        <label class="form-label">{{ siteLocation_2.Additional_Info_Location.label }}</label>
      </div>
      <div class="col-6">
        {% render_field siteLocation_2.Additional_Info_Location class="form-control" %}
      </div>
      <div class="col-3 pt-2">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Describe the source of these coordinates or any other relevant information. Format: (multiple lines)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Cancel/Save Buttons -->
    </br>
    <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
      <button type='button', name='cancel', class="btn btn-secondary">
        Cancel
      </button>
      <button type='submit', name='save', class="btn btn-success">
        Save
      </button>
    </div>
  </form>
</div>