<!--

Template for 4 - GNSS Antenna

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
  <form method="post">
    {% csrf_token %}
    <!-- Antenna Type -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Antenna_Type.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Antenna_Type class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Please find your antenna radome type in https://files.igs.org/pub/station/general/rcvr_ant.tab and use the official name, taking care to get capital letters, hyphens, etc. exactly correct. The radome code from rcvr_ant.tab must be indicated in columns 17-20 of the Antenna Type, use 'NONE' if no radome is installed. The antenna+radome pair must have an entry in https://files.igs.org/pub/station/general/igs05.atx with zenith- and azimuth-dependent calibration values down to the horizon. If not, notify the CB. Format: (A20, from rcvr_ant.tab; see instructions)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Serial Number -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Serial_Number_Antenna.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Serial_Number_Antenna class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Only Alpha Numeric Chars and - . Symbols allowed
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Antenna Reference Point -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Antenna_Ref_Point.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Antenna_Ref_Point class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Locate your antenna in the file https://files.igs.org/pub/station/general/antenna.gra. Indicate the three-letter abbreviation for the point which is indicated equivalent to ARP for your antenna. Contact the Central Bureau if your antenna does not appear. Format: (BPA/BCR/XXX from antenna.gra; see instr.)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Marker -> ARP Up Ecc. (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Marker_Up.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field gnssAntennas_4.Marker_Up class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Up eccentricity is the antenna height measured to an accuracy of 1mm and defined as the vertical distance of the ARP from the marker described in section 1. Format: (F8.4) Value 0 is OK
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Marker -> ARP North Ecc. (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Marker_North.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field gnssAntennas_4.Marker_North class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        North eccentricity is the offset between the ARP and marker described in section 1 measured to an accuracy of 1mm. Format: (F8.4)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Marker -> ARP East Ecc. (m) -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Marker_East.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field gnssAntennas_4.Marker_East class="form-control" %}
        <span class="input-group-text">m</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        East eccentricity is the offset between the ARP and marker described in section 1 measured to an accuracy of 1mm. Format: (F8.4)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Alignment from True N -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Alignment_TrueN.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Alignment_TrueN class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the clockwise offset from true north in degrees. Format: (deg; + is clockwise/east)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Antenna Radome Type -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Antenna_Radome_Type.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Antenna_Radome_Type class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Please find your antenna radome type in https://files.igs.org/pub/station/general/rcvr_ant.tab and use the official name, taking care to get capital letters, hyphens, etc. exactly correct. The radome code from rcvr_ant.tab must be indicated in columns 17-20 of the Antenna Type, use 'NONE' if no radome is installed. The antenna+radome pair must have an entry in https://files.igs.org/pub/station/general/igs05.atx with zenith- and azimuth-dependent calibration values down to the horizon. If not, notify the CB. Format: (A20, from rcvr_ant.tab; see instructions)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Radome Serial Number -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Radome_Serial_Number.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Radome_Serial_Number class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the serial number of the radome if available
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Antenna Cable Type -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Antenna_Cable_Type.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Antenna_Cable_Type class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the antenna cable specification if know. Format: (vendor & type number)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Antenna Cable Length -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Antenna_Cable_Length.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Antenna_Cable_Length class="form-control" %}
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the antenna cable length in meters. Format: (m)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Date Installed -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Date_Installed.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field gnssAntennas_4.Date_Installed class="form-control" %}
        <span class="input-group-text">UTC</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the date the receiver was installed. Format: (CCYY-MM-DDThh:mmZ)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Date Removed -->
    <div class="row align-items-center d-flex justify-content-between mb-2">
      <div class="col-3">
        <label class="form-label">{{ gnssAntennas_4.Date_Removed.label }}</label>
      </div>
      <div class="col-6 input-group">
        {% render_field gnssAntennas_4.Date_Removed class="form-control" %}
        <span class="input-group-text">UTC</span>
      </div>
      <div class="col-3">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter the date the receiver was removed. It is important that the date removed is entered before the addition of a new receiver. Format: (CCYY-MM-DDThh:mmZ)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Additional Information -->
    <div class="row align-items-start d-flex justify-content-between mb-2">
      <div class="col-3 pt-2">
        <label class="form-label">{{ gnssAntennas_4.Additional_Info.label }}</label>
      </div>
      <div class="col-6">
        {% render_field gnssAntennas_4.Additional_Info class="form-control" %}
      </div>
      <div class="col-3 pt-2">
        <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        Enter additional relevant information about the antenna, cable and radome. Indicate if a signal splitter has been used. Format: (multiple lines)
        "><i class="bi bi-question-circle"></i></a>
      </div>
    </div>
    <!-- Cancel/Save Buttons -->
    </br>
    <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
      <button type='button', name='cancel', class="btn btn-secondary">
        Cancel
      </button>
      <button type='submit', name='save', class="btn btn-success">
        Save
      </button>
    </div>
  </form>
</div>