<!--

Template for 5 - Surveyed Local ties

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Tied Marker Name -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Tied_Marker_Name.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Tied_Marker_Name class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter name of Tied Marker
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Tied Marker Usage -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Tied_Marker_Usage.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Tied_Marker_Usage class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the purpose of the tied marker such as SLR, VLBI, DORIS, or other. Format: (SLR/VLBI/LOCAL CONTROL/FOOTPRINT/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Tied Marker CDP Number -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Tied_Marker_CDP_Number.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Tied_Marker_CDP_Number class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the NASA CDP identifier if available. Format: (A4)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Tied Marker DOMES Number -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Tied_Marker_DOMES_Number.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Tied_Marker_DOMES_Number class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the tied marker DOMES number if available. Format: (A9)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- dx (m) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.dx.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field surveyedLocalTies_5.dx class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the differential ITRF coordinates to one millimeter precision. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- dy (m) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.dy.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field surveyedLocalTies_5.dy class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the differential ITRF coordinates to one millimeter precision. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- dz (m) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.dz.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field surveyedLocalTies_5.dz class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the differential ITRF coordinates to one millimeter precision. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Accuracy (mm) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Accuracy_Survey.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field surveyedLocalTies_5.Accuracy_Survey class="form-control" %}
                <span class="input-group-text">mm</span>
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the accuracy of the tied survey. Format: (mm).
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Survey Method -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Survey_Method.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Survey_Method class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the source or the survey method used to determine the differential coordinates, such as GNSS survey, conventional survey, or other. Format: (GPS CAMPAIGN/TRILATERATION/TRIANGULATION/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Date Measured -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ surveyedLocalTies_5.Date_Measured.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Date_Measured class="form-control" %}
            </div>
            <div class="col-3">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the date of the survey local ties measurement. Format: (CCYY-MM-DDThh:mmZ)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Additional Information -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ surveyedLocalTies_5.Additional_Info_Survey.label }}</label>
            </div>
            <div class="col-6">
                {% render_field surveyedLocalTies_5.Additional_Info_Survey class="form-control" %}
            </div>
            <div class="col-3 pt-2">
				<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter any additional information relevant to surveyed local ties. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>