<!--

Template for 6- Frequency Standard Form.

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Standard Type -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ frequencyStandard_6.Standard_Type.label }}</label>
            </div>
            <div class="col-6">
                {% render_field frequencyStandard_6.Standard_Type class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Select whether the frequency standard is INTERNAL or EXTERNAL and describe the oscillator type. Format: (H-MASER/CESIUM/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Input Frequency -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ frequencyStandard_6.Input_Frequency.label }}</label>
            </div>
            <div class="col-6">
                {% render_field frequencyStandard_6.Input_Frequency class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the input frequency in MHz if known.
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective Start Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ frequencyStandard_6.Eff_Start_Date_Freq.label }}</label>
            </div>
            <div class="col-6">
                {% render_field frequencyStandard_6.Eff_Start_Date_Freq class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective start date for the frequency standard. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective End Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ frequencyStandard_6.Eff_End_Date_Freq.label }}</label>
            </div>
            <div class="col-6">
                {% render_field frequencyStandard_6.Eff_End_Date_Freq class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective end date for the frequency standard. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Notes -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ frequencyStandard_6.Notes_Freq.label }}</label>
            </div>
            <div class="col-6">
                {% render_field frequencyStandard_6.Notes_Freq class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter any additional information relevant to frequency standard. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>

