<!--

Template for 8.1 - Humidity Sensor

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Humidity Sensor Model -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Humidity_Sensor_Model.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Humidity_Sensor_Model class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter humidity sensor model
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Manufacturer -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Manufacturer_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Manufacturer_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter manufacturer's name
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Serial Number -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Serial_Number_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Serial_Number_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the serial number of the sensor
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Data Sampling Interval (sec) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Data_Sampling_Interval_Humid.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field humiditySensor_8_1.Data_Sampling_Interval_Humid class="form-control" %}
                <span class="input-group-text">sec</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the sample interval in seconds. Format: (sec)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Accuracy (percentage rel h) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Accuracy_Humid.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field humiditySensor_8_1.Accuracy_Humid class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the accuracy in % relative humidity. Format: (% rel h)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Aspiration -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Aspiration_Humid.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field humiditySensor_8_1.Aspiration_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the aspiration type if known. Format: (UNASPIRATED/NATURAL/FAN/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Height Diff to Ant (m) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Height_Diff_to_Ant_Humid.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field humiditySensor_8_1.Height_Diff_to_Ant_Humid class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		In meters, enter the difference in height between the sensor and the GNSS antenna. Positive number indicates the sensor is above the GNSS antenna. Decimeter accuracy preferred. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Calibration Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Calibration_Date_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Calibration_Date_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the date the humidity sensor was calibrated. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective Start Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Eff_Start_Date_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Eff_Start_Date_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective start date for the humidity sensor. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective End Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ humiditySensor_8_1.Eff_End_Date_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Eff_End_Date_Humid class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective end date for the humidity sensor. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Notes -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ humiditySensor_8_1.Notes_Humid.label }}</label>
            </div>
            <div class="col-6">
                {% render_field humiditySensor_8_1.Notes_Humid class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter any additional information relevant to the humidity sensor. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>