<!--

Template for 8.4 - Water Vapor

-->

{% load widget_tweaks %}

<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Water Vapor Radiometer -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Water_Vapor_Radiometer.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Water_Vapor_Radiometer class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter water vapor radiometer
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Manufacturer -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Manufacturer_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Manufacturer_Water class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter manufacturer's name
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Serial Number -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Serial_Number_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Serial_Number_Water class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the serial number of the radiometer
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Distance to Antenna -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Height_Diff_to_Ant_Water.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field waterVaporRadiometer_8_4.Dist_to_Ant_Water class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the horizontal distance between the WVR and the GNSS antenna to the nearest meter. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Height Diff to Ant (m) -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Height_Diff_to_Ant_Water.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field waterVaporRadiometer_8_4.Height_Diff_to_Ant_Water class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		In meters, enter the difference in height between the sensor and the GNSS antenna. Positive number indicates the sensor is above the GNSS antenna. Decimeter accuracy preferred. Format: (m)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Calibration Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Calibration_Date_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Calibration_Date_Water class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the date the water vapor radiometer was calibrated. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective Start Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Eff_Start_Date_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Eff_Start_Date_Water class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective start date for the water vapor radiometer. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective End Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Eff_End_Date_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Eff_End_Date_Water class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective end date for the water vapor radiometer. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Notes -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ waterVaporRadiometer_8_4.Notes_Water.label }}</label>
            </div>
            <div class="col-6">
                {% render_field waterVaporRadiometer_8_4.Notes_Water class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter any additional information relevant to the water vapor radiometer. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>