<!--

Template for 9.1 - Radio Interference

-->

{% load widget_tweaks %}
 
<!-- Form Fields -->     
<div class="container form-group px-0">
    <form method="post">
        {% csrf_token %}
        <!-- Radio Interferences -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ radioInterference_9_1.Radio_Interferences.label }}</label>
            </div>
            <div class="col-6">
                {% render_field radioInterference_9_1.Radio_Interferences class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter all sources of radio interference near the GNSS station. Format: (TV/CELL PHONE ANTENNA/RADAR/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Observed Degradation -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ radioInterference_9_1.Observed_Degrad.label }}</label>
            </div>
            <div class="col-6 input-group">
                {% render_field radioInterference_9_1.Observed_Degrad class="form-control" %}
                <span class="input-group-text">m</span>
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Describe any observed degradations in the GNSS data that are presumed to result from radio interference. Format: (SN RATIO/DATA GAPS/etc)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective Start Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ radioInterference_9_1.Eff_Start_Date_Radio.label }}</label>
            </div>
            <div class="col-6">
                {% render_field radioInterference_9_1.Eff_Start_Date_Radio class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective start date for the radio interference. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Effective End Date -->
        <div class="row align-items-center d-flex justify-content-between mb-2">
            <div class="col-3">
                <label class="form-label">{{ radioInterference_9_1.Eff_End_Date_Radio.label }}</label>
            </div>
            <div class="col-6">
                {% render_field radioInterference_9_1.Eff_End_Date_Radio class="form-control" %}
            </div>
            <div class="col-3">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter the effective end date for the radio interference. Format: (CCYY-MM-DD)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Additional Information -->
        <div class="row align-items-start d-flex justify-content-between mb-2">
            <div class="col-3 pt-2">
                <label class="form-label">{{ radioInterference_9_1.Additional_Info_Radio.label }}</label>
            </div>
            <div class="col-6">
                {% render_field radioInterference_9_1.Additional_Info_Radio class="form-control" %}
            </div>
            <div class="col-3 pt-2">
                <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="
        		Enter additional relevant information about any radio interferences. Format: (multiple lines)
        		"><i class="bi bi-question-circle"></i></a>
            </div>
        </div>
        <!-- Cancel/Save Buttons -->
        </br>
        <div id="submitcancel" class="d-grid gap-2 d-flex justify-content-between">
            <button type='button', name='cancel', class="btn btn-secondary">
                Cancel
            </button>
            <button type='submit', name='save', class="btn btn-success">
                Save
            </button>
        </div>
    </form>
</div>