<fieldset {% include "django/forms/widgets/attrs.html" %} tabindex=0 style="display: flex; justify-content: space-between; align-items: center" name="{{ widget.name }}" class="time24-hr form-control">
    <legend style="display: none">24 Hour Time</legend>
    <span class="time"><span style="cursor: default; user-select: all;" class="hours">--</span>:<span style="cursor: default; user-select: all;" class="minutes">--</span></span>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-clock clock-icon" viewBox="-2 -2 20 20">
        <path stroke="black" stroke-width="3%" d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path stroke="black" stroke-width="3%" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
    </svg>
    <label for="{{ widget.attrs.id }}-input" style="display: none">time</label>
    <input id="{{ widget.attrs.id }}-input" name="{{ widget.name }}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} type="time" style="display: none">
    <div class="time-select" tabindex="0" style="width: 130px; height: 250px; overflow-y: hidden; display: none; justify-content: space-evenly;">
        <div class="hour-scroll time-scroll" tabindex="0" style="width: 65px; overflow-y: scroll;">
            <span class="time-set">00</span><span>01</span><span>02</span><span>03</span>
            <span>04</span><span>05</span><span>06</span><span>07</span>
            <span>08</span><span>09</span><span>10</span><span>11</span>
            <span>12</span><span>13</span><span>14</span><span>15</span>
            <span>16</span><span>17</span><span>18</span><span>19</span>
            <span>20</span><span>21</span><span>22</span><span>23</span>
        </div>
        <div class="minute-scroll time-scroll" tabindex="0" style="width: 65px; overflow-y: scroll;">
            <span class="time-set">00</span><span>01</span><span>02</span><span>03</span>
            <span>04</span><span>05</span><span>06</span><span>07</span>
            <span>08</span><span>09</span><span>10</span><span>11</span>
            <span>12</span><span>13</span><span>14</span><span>15</span>
            <span>16</span><span>17</span><span>18</span><span>19</span>
            <span>20</span><span>21</span><span>22</span><span>23</span>
            <span>24</span><span>25</span><span>26</span><span>27</span>
            <span>28</span><span>29</span><span>30</span><span>31</span>
            <span>32</span><span>33</span><span>34</span><span>35</span>
            <span>36</span><span>37</span><span>38</span><span>39</span>
            <span>40</span><span>41</span><span>42</span><span>43</span>
            <span>44</span><span>45</span><span>46</span><span>47</span>
            <span>48</span><span>49</span><span>50</span><span>51</span>
            <span>52</span><span>53</span><span>54</span><span>55</span>
            <span>56</span><span>57</span><span>58</span><span>59</span>
        </div>
    </div>
</fieldset>
