{% extends "account/base.html" %}

{% load i18n %}
{% load account widget_tweaks %}

{% block head %}
    {{ block.super }}
    <style>
        body {
            background: url("/static/slm/img/login-bg.jpg") no-repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
    </style>
{% endblock %}

{% block page_content %}
<div class="card slm-account-card" style="width: 50rem;">
    <div class="card-body bg-light p-5">

        {% include "messages.html" %}

        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn btn-success">{% trans 'Sign Out' %}</button>
        </form>
    </div>
</div>
{% endblock %}
