{% extends "account/base.html" %}
{% load widget_tweaks i18n %}

{% block page_content %}
    <div class="container mb-5">
        <!-- Title -->
        <div class="mt-5 mb-4 pb-3 border-bottom">
            <h1>{% translate "Change Password" %}</h1>
        </div>

        <div class="container form-group px-0">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2"{% endif %}>
                  <div class="col-3">
                      <label class="form-label">{{ field.label }}</label>
                  </div>
                  <div class="col-6">
                      {% render_field field class="form-control" %}
                  </div>
                  <div class="col-3">
                  </div>
                </div>
            {% endfor %}

            <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button type='submit' name='update' class="btn btn-success">
                {% translate "Change Password" %}
              </button>
            </div>
          </form>
        </div>
    </div>
{% endblock %}
