{% extends "account/base.html" %}
{% load widget_tweaks i18n %}

{% block page_content %}
<div class="card slm-account-card" style="min-width: 75%">
    <div class="card-body bg-light p-5">

        <!-- Title -->
        <h1 class="card-title">{% translate "Change Password" %}</h1>

        <div class="card-text p-3">

          {% include "messages.html" %}
          <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-1 p-1">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2"{% endif %}>
                  <div class="col-3">
                      <label class="form-label">{{ field.label }}</label>
                  </div>
                  <div class="col-6">
                      {% render_field field class="form-control" %}
                      {% for error in field.errors %}
                      <div class="alert alert-danger mt-1 p-1">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="col-3">
                  </div>
                </div>
            {% endfor %}

            <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button type='submit' name='update' class="btn btn-success">
                {% translate "Change Password" %}
              </button>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
