{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block page_content %}

<div class="card slm-account-card" style="min-width: 75%">
    <div class="card-body bg-light p-5">

    {% if token_fail %}
        <h1 class="card-title">{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>
        <div class="card-text">
            {% include "messages.html" %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
        <h1 class="card-title">{% translate "Change Password" %}</h1>
        <div class="card-text">

          {% include "messages.html" %}
          <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger mt-1 p-1">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2"{% endif %}>
                  <div class="col-6">
                      {% render_field field class="form-control" %}
                      {% for error in field.errors %}
                      <div class="alert alert-danger mt-1 p-1">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                  </div>
                </div>
            {% endfor %}

            <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button type='submit' name='update' class="btn btn-success">
                {% translate "Change Password" %}
              </button>
            </div>
          </form>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
