{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <div class="container mb-5">
        <div class="mt-5 mb-4 pb-3 border-bottom">
            <h1>{% translate "Change Password" %}</h1>
        </div>
        <div class="container form-group px-0">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2"{% endif %}>
                  <div class="col-6">
                      {% render_field field class="form-control" %}
                  </div>
                </div>
            {% endfor %}

            <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button type='submit' name='update' class="btn btn-success">
                {% translate "Change Password" %}
              </button>
            </div>
          </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
