{% extends "account/base.html" %}
{% load widget_tweaks i18n %}

{% block page_content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="container mb-5">
        <!-- Title -->
        <div class="mt-5 mb-4 pb-3 border-bottom">
            <h1>{% translate "Password Rest" %}</h1>
        </div>

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <div class="container form-group px-0">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2"{% endif %}>
                  <div class="col-6">
                      {% render_field field class="form-control" %}
                  </div>
                </div>
            {% endfor %}

            <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button type='submit' name='update' class="btn btn-success">
                {% translate "Reset Password" %}
              </button>
            </div>
          </form>
        </div>
        <br/>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
