{% load compress %}

<div
    id='slm-alert-scroll'
    class="list-group w-100"
    data-slm-page=0
    data-slm-page-size={{page_size|default:10}}
>
    <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
        <div class="slm-loader"></div>
    </div>
</div>

{% compress js inline %}
<script>
    function drawAlerts(position, data) {
        for (const alert of data) {
            const level = slm.AlertLevel.get(alert.level);
            const timestamp = new Date(alert.timestamp);
            let siteUrl = null;
            if (alert.site) {
                siteUrl = slm.urls.reverse('slm:edit', {kwargs: {'station': alert.site}});
            }
            $(`<div class="slm-alert-item slm-alert-${level.label.toLowerCase()} border-${level.bootstrap} d-flex gap-3 py-3 mt-1" aria-current="true">` +
                    `<div class="d-flex gap-2 w-100 justify-content-between">` +
                        `<div>` +
                            `<h3 class="mb-2">${alert.header ? alert.header : alert.site}</h3>` +
                            `<p class="opacity-75">${alert.detail}</p>` + (
                                siteUrl ?
                                `<button class="btn btn-outline-secondary" tabindex= "0" onclick="window.location='${siteUrl}'" type="submit">${alert.site}</button>` :
                                ``
                            ) +
                        `</div>` +
                        `<div class="opacity-75">` +
                            `<small class="text-nowrap">${timestamp.toLocaleString()}</small>` +
                        `<div/>` +
                    `</div>` +
                `</div>`
            ).insertBefore(position);
        }
        let div = $("#slm-alert-scroll");
        if (data.length === 0 && div.data('slmPage') === div.data('slmPageSize') ) { 
            $(`<h3 class="text-center text-secondary">No Alerts</h3>`
            ).insertBefore(position);
        }
    }

    $(document).ready(function() {
        slm.initInfiniteScroll(
            $("#slm-alert-scroll"),
            null,
            $('#slm-alert-scroll .slm-loader'),
            "slm_edit_api:alerts-list",
            {},
            {% if station %}{site: '{{ station }}'}{% else %}{}{% endif %},
            drawAlerts
        );
    });
</script>
{% endcompress %}
