<div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filter-label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filter-label">Filter Station List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div id="filter-station-options" class="row px-3 pb-3">
                        <div class="col-4">
                            <fieldset id="slm-status-filter">
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">Site Status:</span></legend>
                                {% for status in SiteLogStatus %}
                                <div class="form-check">
                                    <input id="slm-status-{{status.value}}" class="form-check-input" type="checkbox" name="filterToggle" value="{{status.value}}">
                                    <label class="form-check-label d-flex" for="slm-status-{{status.value}}">
                                        <i class="bi bi-square-fill me-2" style="font-size: 1rem; color: {{status.color}};"></i>
                                        <p class="mb-1">{{status.label}}</p>
                                    </label>
                                </div>
                                {% endfor %}               
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset id="slm-network-filter">
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">Neworks:</span></legend>
                                <div class="overflow-auto" style="max-height: 200px;">
                                    {% for network in networks %}
                                    <div class="form-check">
                                        <input id="slm-network-{{network.id}}" class="form-check-input" type="checkbox" name="filterToggle" value="{{network.id}}">
                                        <label class="form-check-label d-flex" for="{{network.id}}">
                                            <p class="mb-1">{{network.name}}</p>
                                        </label>
                                    </div>
                                    {% endfor %}          
                                </div>     
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset id="slm-agency-filter">
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">Agencies:</span></legend>
                                <div class="overflow-auto" style="max-height: 200px;">
                                {% for agency in user_agencies %}
                                
                                    <div class="form-check">
                                        <input id="slm-agency-{{agency.id}}" class="form-check-input" type="checkbox" name="filterToggle" value="{{agency.id}}">
                                        <label class="form-check-label d-flex" for="{{agency.id}}">
                                            <p class="mb-1">{{agency.name}}</p>
                                        </label>
                                    </div>
                                
                                {% endfor %}  
                                </div>             
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
                <button id="clear-filter" type="button" class="btn btn-outline-danger">Clear Filters</button>
                <button id="apply-filter" type="button" class="btn btn-success" data-bs-dismiss="modal">Apply Filters</button>
            </div>
        </div>
    </div>
</div>