<div hidden>
    <div id="quick-help-info" class="bg-white">
        {% for status in SiteLogStatus %}
        <div class="d-flex py-0">
            <i class="bi bi-square-fill me-2" style="font-size: 1rem; color: {{ status.color }}"></i>
            <p class="mb-1"><strong>{{ status.label }}</strong></p>
        </div>
        <p style="margin-left: 2em;">{{ status.help }}</p>
        {% endfor %}
        <a class="btn btn-primary mt-2" href="{% url 'slm:help' %}#process" role="button">4-step process</a>
    </div>
</div>
