{% load compress %}

<div
    id='slm-log-scroll'
    class="list-group station-alerts w-100"
    data-slm-page=0
    data-slm-page-size={{page_size|default:10}}
>
    <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
        <div class="slm-loader"></div>
    </div>
</div>

{% compress js inline %}
<script>
    slm.drawLogs = function(position, data) {
        function getName(entry) {
            if (entry.hasOwnProperty('user') && entry.user !== null) {
                return slm.mailToUser(entry.user);
            }
            return '';
        }
        for (const entry of data) {
            const type = slm.LogEntryType.get(entry.type);
            const timestamp = new Date(entry.timestamp);
            const diffUrl = slm.urls.reverse('slm:review', {kwargs: {'station': entry.site, 'epoch': entry.epoch}, query: {pub: false}});
            $(`<div class="slm-log-item d-flex gap-3 py-3 mt-1 ${type.css}" aria-current="true" tabindex="0" onclick="window.location='${diffUrl}'">` +
                    `<div class="d-flex gap-2 w-100 justify-content-between">` +
                        `<div>` +
                            `<h3 class="mb-2">${entry.site}</h3>` +
                            `<span class="badge ${type.css}">${type.label}</span> <span>${entry.target}</span>` +
                        `</div>` +
                        `<div class="opacity-75">` +
                            `<small class="text-nowrap">${timestamp.toLocaleString()}</small>` +
                            `<div class="d-flex justify-content-end">${getName(entry)}</div>` +
                            // `<small class="d-flex justify-content-end">${entry.ip ? entry.ip : ''}</small>` +
                        `<div/>` +
                    `</div>` +
                `</div>`
            ).insertBefore(position);
        }
        let div = $("#slm-log-scroll");
        if (data.length === 0 && div.data('slmPage') === 0) { 
            $(`<h3 class="text-center text-secondary">No Recent Activity</h3>`
            ).insertBefore(position);
        }
    }
    
    $(document).ready(function() {
        slm.initInfiniteScroll(
            $("#slm-log-scroll"),
            null,
            $('#slm-log-scroll .slm-loader'),
            "slm_edit_api:logentries-list",
            {},
            {% if station %}{site: '{{ station }}'}{% elif log_user %}{user: '{{ log_user.email }}'}{% else %}{}{% endif %},
            slm.drawLogs
        );
    });
</script>
{% endcompress %}