<!--

Template for stations list.

-->
<!-- Select Station -->

<div id="slm-station-container" class="p-2">
    
    <div class="pt-3 px-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center"> 
            <h5 class="text-center mb-0"><b>{{ num_sites }}</b> Stations</h5>
            <a id="filter-stations" class="btn btn-primary filter-popover" role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#filter" data-backdrop="false">
                Filter <i class="bi bi-filter"></i>
            </a>
        </div>

        <!-- Search bar -->
        <form class="d-flex my-2 w-100">
            <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="station-search"
            >
        </form>
    </div>

    <hr/>

    <!-- List of stations -->
    <div
        id='slm-station-list'
        class="list-group overflow-auto vh-100"
        data-slm-page=0
        data-slm-page-size={{page_size|default:30}}
    >
        {% if station %}
        <button
            class="btn mono active {{ site.status.css }}"
            id="select-{{ station }}"
            name="station"
            value="{{ station }}"
            data-bs-toggle="pill"
            type="submit"
            role="tab"
            aria-selected="true"><span>{{ station }}</span> {% if site.num_flags %}<span class="badge rounded-pill bg-danger">{{site.num_flags}}</span>{% endif %}</button>
        {% endif %}
        <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
            <div class="slm-loader"></div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
{% include "slm/widgets/filter.html" with url_name=request.resolver_match.url_name %}


{% load compress %}

{% compress js inline %}
<script>
    let keyupTimeoutID = 0;
    function drawStations(position, data) {
        console.log(data);
        function getBadge(station) {
            if (station.hasOwnProperty('num_flags') && station.num_flags) {
                return `<span class="badge rounded-pill bg-danger">${station.num_flags}</span>`;
            }
            return '';
        }

        for (const station of data) {
            //if (station.name === '{{ station }}') continue;
            let active = '';
            let selected = 'false';
            const editLink = slm.urls.reverse("{{ link_view }}", {kwargs: {station: station.name}});
            const status = slm.SiteLogStatus.get(station.status);
            let pos = position;
            if (station.name === '{{ station }}') {
                if (
                    position.parent().children(
                        `#select-${ station.name }`
                    ).length)
                { continue; }
                active = 'active';
                selected = 'true';
                pos = position.parent().children().first();
            }
            $(
                `<button onclick="window.location.href='${editLink}'"
                    class="btn mono ${active} ${status.css}"
                    id="select-${station.name}" name="station"
                    value="${station.name}"
                    data-bs-toggle="pill"
                    type="submit"
                    role="tab"
                    aria-selected="${selected}"><span>${station.name}</span> ${getBadge(station)}</button>`
                ).insertBefore(pos);
        }
    }
    $(document).ready(function() {
        const stationList = $("#slm-station-list");
        const searchInput = $('#station-search');
        const filterInput = $("#apply-filter");
        function init() {
            slm.initInfiniteScroll(
                stationList,
                stationList,
                $('#slm-station-list .slm-loader'),
                "slm_edit_api:stations-list",
                {},
                {},
                drawStations
            );
        }

        searchInput.keypress(function (event) {
            if (event.key === "Enter") {
                searchInput.blur();
                return false;
            }
        });
        searchInput.on('input', function() {
            clearTimeout(keyupTimeoutID);
            keyupTimeoutID = setTimeout(function() {
                stationList.find('button').remove();
                let query = stationList.data('slmQuery') || {};
                if (searchInput.val()) {
                    query.name = searchInput.val();
                } else {
                    if (query.hasOwnProperty('name')) {
                        delete query.name;
                    }
                }
                stationList.data('slmPage', 0);
                stationList.data('slmQuery', query);
                init();
            }, 500);
        });
        filterInput.click(function() {
            stationList.find('button').remove();
            let query = stationList.data('slmQuery') || {};
            console.log(query["status"] = $("#slm-status-filter input[name=filterToggle]:checked").map(function () {
                return this.value;
            }).get().join(","));
            query["network"] = $("#slm-status-filter input[name=filterToggle]:checked").map(function () {
                return this.value;
            }).get().join(",");
            query["agency"] = $("#slm-status-filter input[name=filterToggle]:checked").map(function () {
                return this.value;
            }).get().join(",");
            stationList.data('slmPage', 0);
            stationList.data('slmQuery', query);
            init();
        });
        init();
    });

    function uncheckAll() {
        $("input[type='checkbox']:checked").prop("checked", false)
    }
    $('#clear-filter').on('click', uncheckAll)
</script>
{% endcompress %}
