{% load i18n %}

<div id="slm-station-container" class="slm-scroll-container p-2">
    
    <div class="pt-3 px-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center"> 
            <h5 class="text-center mb-0"><b><span id="slm-num-stations">{{ num_sites }}</span></b> Stations</h5>
            <a id="filter-stations" class="btn btn{% if not station_filter %}-outline{% endif %}-primary filter-popover" role="button" tabindex="0" data-bs-toggle="modal" data-bs-target="#filter" data-backdrop="false">
                Filter <i class="bi bi-filter"></i>
            </a>
        </div>

        <!-- Search bar -->
        <form class="d-flex my-2 w-100">
            <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="station-search"
            >
        </form>
    </div>

    <hr/>

    <!-- List of stations -->
    <div
        id='slm-station-list'
        class="list-group overflow-auto vh-100"
        data-slm-page=0
        data-slm-page-size={{page_size|default:30}}
    >
        {% if station %}
        <button
            class="btn mono active {{ site.status.css }}"
            id="select-{{ station }}"
            name="station"
            value="{{ station }}"
            data-bs-toggle="pill"
            type="submit"
            role="tab"
            data-slm-flags={{ site.num_flags }}
            data-slm-status={{ site.status.value }}
            data-slm-alert={{ station_alert_level.value }}
            aria-selected="true"><span>{{ station }}</span> <span class="badge rounded-pill bg-danger slm-error-badge" {% if not site.num_flags %}style="display: none"{% endif %}>{{site.num_flags}}</span> <i class="bi bi-bell-fill slm-alert-bell {{ station_alert_level.css }}" {% if station_alert_level is None %}style="display: none"{% endif %}></i></button>
        {% endif %}
        <div class="p-2 p-lg-5 d-flex justify-content-center" style="display: none">
            <div class="slm-loader"></div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filter-label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filter-label">Filter Station List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="slm-station-filter">
                    <div id="filter-station-options" class="row px-3 pb-3">
                        <div class="col-4">
                            <fieldset>
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">Site Status:</span></legend>
                                {% for status in SiteLogStatus %}
                                <div class="form-check">
                                    <input id="slm-status-{{status.value}}" class="form-check-input" type="checkbox" name="status" value="{{status.value}}" {% if status in station_filter.status %}checked{% endif %}>
                                    <label class="form-check-label d-flex" for="slm-status-{{status.value}}">
                                        <i class="bi bi-square-fill me-2" style="font-size: 1rem; color: {{status.color}};"></i>
                                        <span class="mb-1">{{status.label}}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </fieldset>
                            <fieldset class="d-flex flex-column">
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">{% trans "Active Alerts" %}</span></legend>
                                {% for site_alert in site_alerts %}
                                <div>
                                    <input id="slm-site-alert-{{ site_alert|class_name }}" class="form-check-input" type="checkbox" name="alert" value="{{ site_alert|class_name }}" {% if alert|lower in station_filter.alerts %}checked{% endif %}>
                                    <label class="form-check-label" for="slm-site-alert-{{ site_alert|class_name }}">
                                        <span class="mb-1">{{ site_alert|model_meta:"verbose_name" }}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </fieldset>
                            <fieldset class="d-flex flex-column">
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">{% trans "Alert Level" %}</span></legend>
                                {% for level in AlertLevel %}
                                <div>
                                    <input id="slm-alert-level-{{ level.label }}" class="form-check-input" type="radio" name="alertLevel" value={{ level.value }} {% if station_filter.max_alert == level %}checked{% endif %}>
                                    <label class="form-check-label" for="slm-alert-level-{{ level.label }}">
                                        <span class="mb-1"><i class="bi bi-bell-fill slm-alert-bell {{ level.css }}"></i> {{ level.label }}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset>
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">{% trans "Neworks:" %}</span></legend>
                                <div class="overflow-auto" style="max-height: 400px;">
                                    {% for network in networks %}
                                    <div class="form-check">
                                        <input id="slm-network-{{network.id}}" class="form-check-input" type="checkbox" name="network" value="{{network.id}}" {% if network in station_filter.network %}checked{% endif %}>
                                        <label class="form-check-label d-flex" for="slm-network-{{network.id}}">
                                            <span class="mb-1">{{network.name}}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-4">
                            <fieldset>
                                <legend class="form-label px-0"><span class="fs-6 fw-bold">{% trans "Agencies:" %}</span></legend>
                                <div class="overflow-auto" style="max-height: 400px;">
                                {% for agency in user_agencies %}

                                    <div class="form-check">
                                        <input id="slm-agency-{{agency.id}}" class="form-check-input" type="checkbox" name="agency" value="{{agency.id}}" {% if agency in station_filter.agency %}checked{% endif %}>
                                        <label class="form-check-label d-flex" for="slm-agency-{{agency.id}}">
                                            <span class="mb-1">{{agency.name}}</span>
                                        </label>
                                    </div>

                                {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="clear-filter" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">{% trans "Clear Filters" %}</button>
                <button id="apply-filter" type="button" class="btn btn-success" data-bs-dismiss="modal">{% trans "Apply Filters" %}</button>
            </div>
        </div>
    </div>
</div>

{% load compress %}

{% compress js inline %}
<script>
    let keyupTimeoutID = 0;
    const stationFilter = $('#slm-station-filter');
    function drawStations(position, data, filtered, total) {

        if (filtered !== null) {
            $('#slm-num-stations').html(filtered);
        }

        function getBadge(station) {
            if (station.hasOwnProperty('num_flags') && station.num_flags) {
                return `<span class="badge rounded-pill bg-danger slm-error-badge">${station.num_flags}</span>`;
            }
            return `<span class="badge rounded-pill bg-danger slm-error-badge" style="display: none">${station.num_flags}</span>`;
        }

        function getAlertBell(station) {
            if (station.hasOwnProperty('max_alert') && station.max_alert !== null) {
                let alert = slm.AlertLevel.get(station.max_alert);
                return `<i class="bi bi-bell-fill slm-alert-bell ${ alert.css }"></i>`
            }
            return `<i class="bi bi-bell-fill slm-alert-bell" style="display: none"></i>`
        }

        for (const station of data) {
            //if (station.name === '{{ station }}') continue;
            let active = '';
            let selected = 'false';
            const editLink = slm.urls.reverse("{{ link_view }}", {kwargs: {station: station.name}});
            const status = slm.SiteLogStatus.get(station.status);
            const level = station.max_alert !== null ? slm.AlertLevel.get(station.max_alert) : null;
            let pos = position;
            if (station.name === '{{ station }}') {
                if (
                    position.parent().children(
                        `#select-${ station.name }`
                    ).length)
                { continue; }
                active = 'active';
                selected = 'true';
                pos = position.parent().children().first();
            }
            $(
                `<button onclick="window.location.href='${editLink}'"
                    class="btn mono ${active} ${status.css}"
                    id="select-${station.name}" name="station"
                    value="${station.name}"
                    data-bs-toggle="pill"
                    type="submit"
                    role="tab"
                    data-slm-flags=${station.num_flags}
                    data-slm-status=${status.val}
                    data-slm-alert=${level ? level.val : null}
                    aria-selected="${selected}"><span>${station.name}</span> ${getBadge(station)} ${getAlertBell(station)}</button>`
                ).insertBefore(pos);
        }
    }
    $(document).ready(function() {
        const stationList = $("#slm-station-list");
        const searchInput = $('#station-search');
        const filterInput = $("#apply-filter");
        const filterStations = $("#filter-stations");
        const clearFilter = $('#clear-filter');

        const initFilter = function() {
            let query = sessionStorage.getItem('stationFilter');
            if (query && !slm.hasParameters(getQuery())) {
                query = JSON.parse(query);
                // if the page didnt set a filter - fetch the last one from
                // session cache
                const setPropertyFilter = function(prop) {
                    if (query.hasOwnProperty(prop)) {
                        let selectors = [];
                        for (const val of query[prop]) {
                            selectors.push(`input[name="${prop}"][value="${val}"]`);
                        }
                        stationFilter.find(selectors.join()).prop("checked", true);
                    }
                }
                setPropertyFilter('status');
                setPropertyFilter('alert');
                setPropertyFilter('network');
                setPropertyFilter('agency');

                if (query.hasOwnProperty('max_alert')) {
                    stationFilter.find(
                        `input[name="alertLevel"][value="${query.max_alert}"]`
                    ).prop("checked", true);
                }
            }
        }

        function init() {
            slm.initInfiniteScroll(
                stationList,
                stationList,
                $('#slm-station-list .slm-loader'),
                "slm_edit_api:stations-list",
                {},
                {},
                drawStations
            );
            slm.stationFilterChanged(stationList.data('slmQuery'));
        }

        searchInput.keypress(function (event) {
            if (event.key === "Enter") {
                searchInput.blur();
                return false;
            }
        });
        searchInput.on('input', function() {
            clearTimeout(keyupTimeoutID);
            keyupTimeoutID = setTimeout(function() {
                stationList.find('button').remove();
                // replace below line with above one to keep current station in the
                // list regardless of filter
                //stationList.find('button').not(`#select-{{ station }}`).remove();
                let query = stationList.data('slmQuery') || {};
                if (searchInput.val()) {
                    query.name = searchInput.val();
                } else {
                    if (query.hasOwnProperty('name')) {
                        delete query.name;
                    }
                }
                stationList.data('slmPage', 0);
                stationList.data('slmQuery', query);
                init();
            }, 500);
        });

        const getQuery = function() {
            // replace below line with above one to keep current station in the
            // list regardless of filter
            //stationList.find('button').not(`#select-{{ station }}`).remove();
            let query = stationList.data('slmQuery') || {};
            query.status = stationFilter.find('input[name="status"]:checked').map(function () {
                return this.value;
            }).get();
            query.alert = stationFilter.find('input[name="alert"]:checked').map(function () {
                return this.value;
            }).get();
            query.network = stationFilter.find('input[name="network"]:checked').map(function () {
                return this.value;
            }).get();
            query.agency = stationFilter.find('input[name="agency"]:checked').map(function () {
                return this.value;
            }).get();

            query.max_alert = stationFilter.find('input[name="alertLevel"]:checked').val();
            if (typeof query.max_alert === 'undefined' || query.max_alert === null) {
                delete query.max_alert;
            }
            return query;
        }
        const applyFilter = function() {
            stationList.find('button').remove();
            let query = getQuery();
            if (slm.hasParameters(query)) {
                filterStations.removeClass("btn-outline-primary").addClass("btn-primary");
            } else {
                filterStations.removeClass("btn-primary").addClass("btn-outline-primary");
            }
            // uncomment to keep current station in the list regardless of filter
            //{% if site %}query.id = [{{site.pk}}];{% endif %}
            stationList.data('slmPage', 0);
            stationList.data('slmQuery', query);
            sessionStorage.setItem('stationFilter', JSON.stringify(query));
            init();
        }
        filterInput.click(applyFilter);

        clearFilter.on('click', function() {
            stationFilter.find("input[type='checkbox']:checked").prop("checked", false);
            stationFilter.find("input[type='radio']:checked").prop("checked", false);
            applyFilter();
        });

        initFilter();
        applyFilter();
    });

</script>
{% endcompress %}
