{% load i18n %}
{% load static %}

{% static 'slm/img/email-branding.png' as branding %}

{% autoescape off %}
<div id="container" style="background-color: #f6f6f6; padding: 10%; font-family: Arial, sans-serif, 'Open Sans'; overflow-wrap: break-word;">
    <div id="logo" style="background-color: #212529; padding: 5% 10%; text-decoration: none;">
        <a href="{% url "slm:home" %}"><img id="logo" style="margin-right: 16px; display: inline-block; vertical-align: middle; max-width: 100%; height: auto;" src="{{ branding|absolute_url:request }}" alt="International GNSS Service"/>
            <span style="color: white; font-weight: bold; font-size: 20px;">Site Log Manager</span>
        </a>
    </div>

    <div id="wrapper" style="background-color: #fff; border: 1px solid #d6d6d6; padding: 5% 10% 5% 10%;">
        <div id="title" style="margin-bottom: 32px; font-weight: bold;">
            <h1>{% block title %}{% endblock %}</h1>
        </div>

        {% block greeting %}
        <div id="greeting" style="font-weight: bold;">
            {% blocktrans with site_name=current_site.name %}Hello from {{ site_name }}!{% endblocktrans %}
            <br>
            <br>
        </div>
        {% endblock greeting %}
        
        <div id="content" style="margin-bottom: 32px;">
            {% block content %}{% endblock %}
        </div>

        <hr>

        <div id="footer" style="margin-top: 5%; text-align: center;">
            {% block email_preferences %}
            {% endblock %}
            {% trans 'Thank you for using' %} {{ current_site.name }}!
            <br>
            {{ current_site.domain }}
        </div>
    </div>
</div>

{% endautoescape %}
