{% extends "account/email/base.html" %}
{% load i18n %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}{% autoescape off %}

{% blocktrans %}
You're receiving this e-mail because you or someone else has requested a password for your user account.
<br>
<br>
It can be safely ignored if you did not request a password reset.
<br>
<br>
Click the link below to reset your password.
{% endblocktrans %}
<br>
<br>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
<br>
<br>
{% if username %}{% blocktrans %}
In case you forgot, your username is {{ username }}.
{% endblocktrans %}{% endif %}

{% endautoescape %}{% endblock %}
