/*------- Typography CSS -------*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: 0; */
    font-family: 'Roboto', serif;
    font-weight: bold;
}
.h-110 {
    height: 110%;
}
body {
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button {
    font-weight: 700;
}
a, a:hover {
    color: #175A7D;
}
.mono {
  font-family: "Lucida Console", Courier, monospace;
}
span.slm-section-header {
    font-size: calc(1.4rem + .3vw);
}
.footer-link {
    color: #fff;
    text-decoration: none;
}
.footer-link a:hover {
    color: #fff;
    text-decoration: underline;
}

img.fancybox-image {
    image-orientation: none;
}



/*------- Layout CSS -------*/
@media (max-width: 797px) {
    body { 
        padding-left: 0;
        padding-right: 0;
    }
}
.container-fluid {
    padding: 0;
}

.slm-account-card {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/*------- Top Menu Navigation CSS -------*/
.navbar-dark .navbar-nav .active>.nav-link {
    background-color: #185A7D !important;
    color: #fff;
    border-radius: 0.25rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.nav-link {
    width: 100%;
    text-align: left;
    color: #000;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }
}
/* Fixes active CSS on dropdown sections (DO NOT MOVE) */
.nav-link.active, .active>.nav-link  { 
    background-color: #185A7D !important;
    color: #fff;
} 
.show>.nav-link {
    background-color: #fff !important;
    color: #000 !important;
}
.nav-link:focus, .nav-link:hover {
    background-color: #185A7D !important;
    color: #fff !important;
    border-radius: 0.25rem;
}
.list-group-item.active {
    background-color: #185A7D !important;
    border-color: #185A7D !important;
}


/*------- Review Diff CSS -------*/
#slm-review-diff-container {
    padding: 50px;
}
#slm-review-diff {
    border: 1px solid #212529;
    background-color: ghostwhite;
    padding: 0;
    border-right: 15px solid #175A7D;
}
#slm-review-diff span.slm-review-lineno {
    width: 5em;
    text-align: right;
    display: inline-block;
    border-right: 2px solid black;
    padding-right: 5px;
    margin-right: 10px;
    background: #175A7D;
    color: #f1f1f1;
}
#slm-review-diff span.slm-review-line {
    display: inline-block;
}

#slm-review-diff div.slm-diff-header,
#slm-review-diff div.slm-diff-footer {
    height: 15px;
    background: #175A7D;
}



/*------- Alerts/Log CSS -------*/
div.slm-alert-detail {
    color: #0f0f0f;
    opacity: 0.75;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Internet Explorer and Edge */
.no-scrollbar {
    -ms-overflow-style: none;
}

/* For Firefox */
.no-scrollbar {
    scrollbar-width: none;
}

#slm-alert-scroll div.slm-alert-detail {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 15px;
    opacity: 0.5;
}

.slm-alert-notice {
    border-color: #12CAF0 !important;
    color: #12CAF0 !important;
}
.btn.slm-alert-notice:hover {
    background-color: #12CAF0 !important;
    color: white !important;
}

.slm-alert-warning {
    border-color: #E3AA00 !important;
    color: #E3AA00 !important;
}
.btn.slm-alert-warning:hover {
    background-color: #E3AA00 !important;
    color: white !important;
}

.slm-alert-error {
    border-color: #DD3444 !important;
    color: #DD3444 !important;
}

.btn.slm-alert-error:hover {
    background-color: #DD3444 !important;
    color: white !important;
}

.slm-alert-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-left: 1px solid #212529;
    border-left-width: 0.5rem;
    border-radius: 0.5rem;
}
.slm-alert-item:hover {
    background-color: ghostwhite;
}

.slm-alert-item .slm-alert-header a {
    color: #0f0f0f;
    text-decoration: none;
}
.slm-alert-item .slm-alert-header a:hover {
    text-decoration: underline;
}

.slm-alert-close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.slm-alert-close:hover .bi-trash3:before {
    content: "\F78A";
}

.slm-alert-close {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
.slm-alert-time {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 14px;
    color: #0f0f0f;
}

.slm-log-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-left: 1px solid #212529;
    border-left-width: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.slm-log-scroll {
    overflow-y: auto;
}
.slm-log-item a {
    text-decoration: none;
    color: initial;
}
.slm-log-item a:hover {
    text-decoration: underline;
}



/*------- Agency Header CSS -------*/
header.slm-agency, .slm-agency a {
    background-color: #175A7D;
    color: ghostwhite;
}



/*------- Station Location CSS -------*/
img.slm-station-location {
  width: 100%;
  height: 100%;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}



/*------- Background CSS -------*/
.bg-igs-blue {
    background-color: #051C2C;
}
.bg-white {
    background-color: white;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
 }



/*------- Form CSS -------*/
.form-label {
    margin-bottom: 0rem;
}
.input-group {
    width: 50%;
}
.form-control, .input-group-text {
    border: 1px solid #545454;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #175A7D
}
.slm-form-error {
    padding: 7px;
}
.slm-form-fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}
fieldset.slm-form-group {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0 0 0 0 #000;
            box-shadow:  0 0 0 0 #000;
}
fieldset.slm-form-group > legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    float: none;
}



/*------- Station/File List CSS -------*/
#slm-station-list,
#slm-file-list {
    justify-content: flex-start;
    align-items: flex-start;
}
#slm-station-list button,
#slm-file-list button {
    height: fit-content;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: black;
    font-size: large;
    margin-top: 3px;
}
#slm-file-list button > i {
    font-size: 20px;
    margin-right: 5px;
}
#slm-file-list button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#slm-station-list button.active,
#slm-station-list button:hover,
#slm-file-list button.active,
#slm-file-list button:hover {
    background-color: #175A7D;
    color: ghostwhite;
}
#slm-station-container {
    background-color: ghostwhite;
}
.slm-scroll-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#slm-form-menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}
#file-actions > button {
    margin-right: 5px;
}



/*------- Validation CSS -------*/
/* this needs major cleanup */
.row.is-invalid.slm-form-unpublished {
    border: none;
    background-image: none;
    padding-left: 0;
    padding-right: 0;
}
.row.is-invalid {
    border: none;
    background-image: none;
    padding-left: 0;
    padding-right: 0;
}

.row.slm-widget-container.is-invalid.slm-form-unpublished {
    border: 1px solid #0079AD;
    background-image: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
}
.row.slm-widget-container.is-invalid {
    border: 1px solid red;
    background-image: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
}

.is-invalid.slm-form-unpublished {
    /*border-color: #ffecb5;*/
    border-color: #0079AD;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%230084BD'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23d89133' stroke='none'/%3e%3c/svg%3e");
}
.invalid-feedback.slm-form-unpublished {
    /*color: #ffecb5;*/
    color: #0079AD;
}
.invalid-feedback {
    display: block;
}
.was-validated .form-control.slm-form-unpublished:invalid:focus, .form-control.is-invalid.slm-form-unpublished:focus {
  border-color: #0079AD;
  box-shadow: 0 0 0 0.25rem #0079AD5F;
}
.alert-warning.slm-form-unpublished,
.alert-warning.slm-form-deleted {
    border-color: #0079AD;
    background-color: #e6f7ff;
    color: #0079AD;
}


/*------- Flag CSS -------*/
.slm-flag-error {
    font-size: large;
}
.slm-flag-error:hover {
    color: #EB0000;
}
.slm-flag-error .bi-x-circle {
    color: #EB0000;
}
.slm-flag-error > .bi + .bi,
.slm-flag-error:hover > .bi {
  display: none;
}
.slm-flag-error:hover > .bi + .bi {
  display: inherit;
}
.form-control.slm-flag-input {
    margin-top: 5px;
    background-color:  #CD2026!important;
    color: #F8F9FA;
}
.form-control.slm-flag-input:invalid:focus,
.form-control.slm-flag-input:focus {
    border-color: darkred;
    box-shadow: 0 0 0 0.1rem rgba(139, 0, 0, 1);
}
span.slm-parse-error {
    color: white;
}



/*------- SLM Loader CSS -------*/
.slm-loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #175A7D; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*------- SLM Status Colors CSS -------*/
/* Status Background Color*/

/* Actvity Log Item Border Colors */
.slm-log-delete {
    border-left-color: #D3D3D3;
}
.slm-log-revert {
    border-left-color: #eb9e34;
}
.slm-log-attachment-deleted,
.slm-log-image-deleted {
    border-left-color: #EB0000;
}
.slm-log-add,
.slm-log-update {
    border-left-color: #0079AD;
}
.slm-log-image-published,
.slm-log-attachment-published,
.slm-log-publish {
    border-left-color: #0D820D;
}
.slm-log-image-unpublished,
.slm-log-attachment-unpublished {
    border-left-color: #0079AD;
}
.slm-log-site-proposed {
    border-left-color: #913D88;
}
.slm-log-log-upload {
    border-left-color: #006EDB;
}
.slm-log-image-upload {
    border-left-color: darkblue;
}
.slm-log-attachment-upload {
    border-left-color: darkblue;
}
/* Download Tab Icons Colors */
.slm-modified {
    color: #0079AD;
}
.slm-published {
    color: green;
}
.slm-log-item:hover {
    background-color: ghostwhite;
}



/*------- Badge Colors CSS -------*/
span.badge.slm-log-add,
span.badge.slm-log-update {
    background-color: #0079AD;
    color: white;
}
span.badge.slm-log-image-published,
span.badge.slm-log-attachment-published,
span.badge.slm-log-publish {
    background-color: green;
    color: white;
}

span.badge.slm-log-attachment-unpublished,
span.badge.slm-log-image-unpublished {
    background-color: #0079AD;
    color: white;
}
span.badge.slm-log-site-proposed {
    background-color: #913D88;
    color: white;
}
span.badge.slm-log-delete {
    background-color: #D3D3D3;
    color: black;
}
span.badge.slm-log-revert {
    background-color: #eb9e34;
    color: white;
}
span.badge.slm-log-attachment-deleted,
span.badge.slm-log-image-deleted {
    background-color: #EB0000;
    color: white;
}
span.badge.slm-log-log-upload {
    background-color: #006EDB;
    color: white;
}
span.badge.slm-log-image-upload {
    background-color: darkblue;
    color: white;
}
span.badge.slm-log-attachment-upload {
    background-color: darkblue;
    color: white;
}
/* Badge Color for Upload Tab */
.slm-files-badge {
    background-color: #0079AD;
}



/*------- Upload widget CSS -------*/
/* Upload widget custom CSS */
i.bi.bi-cloud-arrow-up {
    font-size: 60px;
    color: #9D9D9D;
}
.dropzone {
    border: none !important;
    border-radius: 16px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%239D9D9DFF' stroke-width='4' stroke-dasharray='21%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;
}
.dropzone .dz-message {
    text-align: center;
    margin: 10% 5% !important;
}
.dz-message:hover {
    color: #175A7D !important;
}



/*------- Button/Icon/Accordion CSS -------*/
/* Bootstrap Buttons */
.btn-primary {
    color: #fff;
    background-color: #185A7D;
}
.btn:hover {
    color: #fff;
}

button.nav-link {
    margin-left: 5px;
    margin-top: 3px;
}
/* Filter Button */
.btn-outline-primary {
    color: #185A7D;
    border-color: #185A7D;
}
/* Removes default button border/bg color for help popover */
.icon {
    background-color: #fff;
    border: none;
    padding: 0;
}
/* Removes bootstrap accordion arrows */
.accordion-button:after {
    display: none;
}
/* Adds border to empty icon in legend */
.bi-square-fill::before {
    border: 1px solid #000;
    border-radius: 4px;
}
/* Increases size of tooltip icon */
[type=button] .bi-question-circle {
    font-size: 24px;
}
/* Subsection CSS */
button.slm-subsection > .slm-effective {
    vertical-align: middle;
    float:right;
    content: "";
    position:absolute;
    right:20px;
    top:35%;
}
button.slm-subsection {
    display:block;
    text-align:left;
    overflow:hidden;
    position:relative;
}
/* Button Status CSS */
button.slm-status-updated,
button.nav-link.slm-status-updated {
    border-left: 10px solid #0079AD !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-updated.slm-section-deleted {
    border-left: 10px solid #d3d3d3;
}
form.slm-section-deleted input.slm-flag-input {
    opacity: 0.5;
}
button.slm-status-updated span.section-number {
    background-color: #0079AD;
    color: whitesmoke;
}
button.slm-status-published,
button.nav-link.slm-status-published {
    border-left: 10px solid #0D820D !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-published span.section-number {
    background-color: #0D820D;
    color: whitesmoke;
}

button.slm-status-in-review,
button.nav-link.slm-status-in-review {
    border-left: 10px solid #0079AD !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-in-review span.section-number {
    background-color: #0079AD;
    color: whitesmoke;
}
button.slm-status-proposed,
button.nav-link.slm-status-proposed {
    border-left: 10px solid #913D88 !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-proposed span.section-number {
    background-color: #913D88;
    color: whitesmoke;
}
button.slm-status-former,
button.nav-link.slm-status-former  {
    border-left: 10px solid #3D4543 !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-former span.section-number {
    background-color: #3D4543;
    color: whitesmoke;
}
button.slm-status-suspended,
button.nav-link.slm-status-suspended  {
    border-left: 10px solid #E0041A !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-suspended span.section-number {
    background-color: #E0041A;
    color: whitesmoke;
}
button.slm-status-empty,
button.nav-link.slm-status-empty  {
    border-left: 10px solid #d3d3d3 !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-status-empty span.section-number {
    background-color: #d3d3d3;
    color: black;
}
/* Upload Buttons CSS */
button.slm-upload-unpublished,
button.nav-link.slm-upload-unpublished {
    border-left: 10px solid #0079AD !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-upload-published,
button.nav-link.slm-upload-published {
    border-left: 10px solid #0D820D !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-upload-invalid,
button.nav-link.slm-upload-invalid {
    border-left: 10px solid #8b0000 !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-upload-warnings,
button.nav-link.slm-upload-warnings  {
    border-left: 10px solid darkorange !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
button.slm-upload-valid,
button.nav-link.slm-upload-valid  {
    border-left: 10px solid #0D820D !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
/* Accordion CSS */
.accordion,
.accordion-item,
.accordion-item:first-of-type,
.accordion-header {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


span.autocomplete-match { font-weight: normal; color: #3399FF; }


/***************************************************/
/* styling to make custom 24 hour time widget work */
fieldset.time-24hr:disabled * {
    pointer-events: none;
    user-select:  none;
}
fieldset.time-24hr:disabled > div {
    background-color: #E9ECEF;
}

fieldset.time-24hr {
    position: relative;
}
div.time-select {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.2);
    padding: 5px;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 99;
}

div.time-select > div::-webkit-scrollbar {
    display: none;
}
div.time-select > div {
    scrollbar-width: none;
}

div.time-select span {
    height: 40px;
    width: 55px;
    cursor: default;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

div.time-select span:hover {
    background-color: rgb(192, 214, 252);
}

div.time-select span.time-set {
    background-color: rgb(20, 106, 245);
    color: white;
    font-weight: bold;
}

span.time-selected {
    border: 2px solid black;
}
/***************************************************/



/*------- Messages CSS -------*/
div.messages > div {
    border: 1px solid black;
    width: 75%;
    padding: 15px;
}

div.messages > div.info {
    border-color: #0079AD;
    background-color: #0079AD6F;
}


fieldset.autocomplete {
    padding: 0;
    border: none;
}
fieldset.autocompleteselectmultiple,
fieldset.autocompleteenumselectmultiple {
    padding: 0;
    border: none;
}

div.autocomplete-selection {
    background-color: royalblue;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    border: 1px solid royalblue;
    border-radius: 5px;
    width: fit-content;
    margin: 5px;
    text-align: center;
}

fieldset[name=country] div.autocomplete-selection {
    background-color: transparent;
    color: initial;
    padding: 5px 10px 5px 10px;
    border: 1px solid royalblue;
    border-radius: 5px;
    width: fit-content;
    margin: 5px;
    text-align: center;
}

div.autocomplete-selection span:last-child {
    margin-left: 10px;
    vertical-align: middle;
}
div.autocomplete-selection span:after {
    content: " ";
    white-space: pre;
}

div.autocomplete-selection span:last-child:before {
    font-family: 'Bootstrap-icons';
    content: '\F623';
}
div.autocomplete-selection span:last-child:hover:before {
    font-family: 'Bootstrap-icons';
    cursor: pointer;
    content: '\F622';
}

div span.fi {
    margin-left: 0;
    margin-right: 7px;
    font-size: large;
}

div.ui-menu-item-wrapper > span.fi {
    margin-right: 5px;
}

div.ui-menu-item-wrapper > span.matchable:after {
    content: " ";
    white-space: pre;
}

/* replace default crispy form required asterisk rendering */
span.asteriskField {
    color: transparent;
}
span.asteriskField:after {
    font-family: 'Bootstrap-icons';
    color: red;
    content: '\F151';
    display: inline;
    font-size: small;
}
/************************************************************/


#photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#photo-container.card {
    background: whitesmoke;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
    color: #333333;
    border-radius: 2px;
}

#photo-container .card .card-image {
    background: whitesmoke;
    display: block;
    padding-top: 70%;
    position: relative;
    width: 100%;
}

#photo-container .card .card-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
  #photo-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
}

span.section-number {
    display: inline-block;
    background-color: #d3d3d3; /* Green background */
    border: 1px solid black;
    color: black; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 4px; /* Slightly rounded corners */
    font-weight: bold; /* Bold text */
    font-size: small;
    margin-right: 10px;
    padding: 0 10px 0 10px;
}

div[disabled] {
    background-color: #E9ECEF;
}
textarea[name="custom_graphic"] {
    font-family: "Lucida Console", Courier, monospace;
}

@media only screen and (max-width: 1920px) {
    textarea[name="custom_graphic"] {
        font-size: small;
    }
}

.nav-link.hijacked {
  background-color: orange !important;
  color: white !important;  /* optional: ensures text is readable */
  border-radius: 5px;
}
.nav-link.hijacked:hover,
.nav-link.hijacked:focus,
.nav-link.hijacked:active,
.nav-link.hijacked.show {
  background-color: darkorange !important;
  color: white !important;
}

li.release-hijack button.dropdown-item {
    background-color: orange;
    border: none;
    cursor: pointer;
    padding: 4px 16px 4px 16px;
}
