{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="card slm-account-card" style="min-width: 75%">
    <div class="card-body bg-light p-5">
        <div class="card-text mb-5">
            {% include "messages.html" %}
            <div class="mt-5 mb-4 pb-3 border-bottom">
                <p>{% trans 'Your password is now changed. Please ' %}<a href="{% url 'account_login' %}">{% trans 'login' %}.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
