<li class="nav-item {% if url_name == 'home' %}active{% endif %}">
  <a class="nav-link" href="{% url "slm:home" %}">Home</a>
</li>
{% if request.user.can_propose_site %}
<li class="nav-item {% if url_name == 'new_site' %}active{% endif %}">
  <a class="nav-link" href="{% url 'slm:new_site' %}">New Site</a>
</li>
{% endif %}
<li class="nav-item {% if url_name == 'map' %}active{% endif %}">
  <a class="nav-link" href="{% url 'slm_map:map' %}">Map</a>
</li>
<li class="nav-item {% if url_name == 'about' %}active{% endif %}">
  <a class="nav-link" href="{% url 'slm:about' %}">About</a>
</li>
<li class="nav-item {% if url_name == 'help' %}active{% endif %}">
  <a class="nav-link" href="{% url 'slm:help' %}">Help</a>
</li>
