<!--
  
Template for Download page.

-->

{% extends "slm/station/base.html" %}
{% load i18n %}


{% block action_content %}
<div class="container px-5">
  <!-- Title -->
  <div class="d-flex flex-column justify-content-left align-items-left mt-4">
    <div class="mb-4 pb-3 border-bottom">
      <h2>{% trans "Download" %}</h2>
    </div>
      <p class="mb-0">
          {% translate "Choose one of the export formats below to download the site log's metadata" %}
      </p>
  </div>

  <!-- Download Options -->
  <div class="p-3">
      {% if site.last_publish %}
      <div class="row align-items-md-stretch mb-5">
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 my-3 bg-light border rounded-3 text-center">
            <i class="bi bi-file-text slm-published" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "ASCII (.log)" %}</h2>
            <p class="mb-4">{% trans "Text-based description of the metadata of a GNSS station" %}</p>
            <a class="btn btn-primary {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='log' %}?lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 my-3 bg-light border rounded-3 text-center">
            <i class="bi bi-filetype-xml slm-published" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "GeodesyML (.xml)" %}</h2>
            <p class="mb-4">{% trans "Machine-readable XML format of the data and metadata of a GNSS station" %}</p>
            <a class="btn btn-primary {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='xml' %}?lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 my-3 bg-light border rounded-3 text-center">
            <i class="bi bi-filetype-json slm-published" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "JSON (.json)" %}</h2>
            <p class="mb-4">{% trans "This is still under development. JavaScript Object Notation format of the data and metadata of a GNSS station" %}</p>
            <a class="btn btn-primary disabled {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='json' %}?lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- todo only include if unpublished changes are present -->
      {% if site.needs_publish %}
      <div class="row align-items-md-stretch mt-5 mb-5">
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <i class="bi bi-file-text slm-modified" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "ASCII (.log)" %}</h2>
            <h3 class="mb-3 fs-4">{% trans "MODIFIED/UNPUBLISHED" %}</h3>
            <p class="mb-4">{% trans "Text-based description of the metadata of a GNSS station" %}</p>
            <a class="btn btn-primary {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='log' %}?unpublished=True&lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <i class="bi bi-filetype-xml slm-modified" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "GeodesyML (.xml)" %}</h2>
            <h3 class="mb-3 fs-4">{% trans "MODIFIED/UNPUBLISHED" %}</h3>
            <p class="mb-4">{% trans "Machine-readable XML format of the data and metadata of a GNSS station" %}</p>
            <a class="btn btn-primary {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='xml' %}?unpublished=True&lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-3">
          <div class="h-100 p-5 bg-light border rounded-3 text-center">
            <i class="bi bi-filetype-json slm-modified" style="font-size:60px;"></i>
            <h2 class="mb-3">{% trans "JSON (.json)" %}</h2>
            <h3 class="mb-3 fs-4">{% trans "MODIFIED/UNPUBLISHED" %}</h3>
            <p class="mb-4">{% trans "This is still under development. JavaScript Object Notation format of the data and metadata of a GNSS station" %}</p>
            <a class="btn btn-primary disabled {% if not station %}disabled{% endif %}" {% if station %}href="{% url 'slm_edit_api:download-detail' site=station format='json' %}?unpublished=True&lower_case=1"{% endif %} download>Download</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}
