<!--
  
Template for about page.

-->

{% extends "slm/base.html" %}

{% block page_content %}
    <div class="container mb-5">
        <!-- Title -->
        <div class="mt-5 mb-4 pb-3 border-bottom">
            <h1>About the SLM</h1>
        </div>

        <!-- About Content -->
        <div>
            <h2 class="mb-3">What is the Site Log Manager?</h2>
            <p>
                The International GNSS Service (IGS) collects, archives, and freely distributes Global Navigation Satellite System (GNSS) observation data sets from over 200 global agencies that make up a network of ground tracking stations. The Site Log Manager (SLM) is a software system designed to allow station operators to securely manage the metadata across the GNSS ground based sites. The SLM is a vital and tremendous service to the global GNSS community. Our primary goal for the Site Log Manager 2.0 is to maximize the reliability, accuracy, and searchability of site log metadata information. This will be achieved through easy moderation and review, automation, structured data, and broad adoption.
            </p>
        </div>
        {% comment %} <div class="my-5">
            <h2 class="mb-3">What is GeodesyML?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div> {% endcomment %}
        <div class="my-5">
            <h2 class="mb-3">Open Source Information</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="my-5">
            <h2 class="mb-3">GDPR Policy</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="my-5">
            <h2 class="mb-3">Privacy Policy</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="my-5">
            <h2 class="mb-3">Contact</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="my-5">
            <h2 class="mb-3">Related Links</h2>
            <ul>
                <li>
                    <a href="https://github.com/international-gnss-service/">GitHub</a>
                </li>
                <li>
                    <a href="https://igs.org">IGS Website</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
