<div hidden>
    <div id="quick-help-info" data-name="quick-help-content" class="w-100">
        <fieldset>
            <legend><span class="fs-6 fw-bold">Choose Layer</span></legend>
            <div class="form-check">
                <input id="light-v10" class="form-check-input" type="radio" name="layerToggle" value="light" checked="checked">
                <label class="form-check-label" for="light-v10">Light</label>
            </div>
            <div class="form-check">
                <input id="satellite-v9" class="form-check-input" type="radio" name="layerToggle" value="satellite">
                <label class="form-check-label" for="satellite-v9">Satellite</label>
            </div>
            <div class="form-check">
                <input id="dark-v10" class="form-check-input" type="radio" name="layerToggle" value="dark">
                <label class="form-check-label" for="dark-v10">Dark</label>
            </div>
            <div class="form-check">
                <input id="streets-v11" class="form-check-input" type="radio" name="layerToggle" value="streets">
                <label class="form-check-label" for="streets-v11">Streets</label>
            </div>
            <div class="form-check">
                <input id="outdoors-v11" class="form-check-input" type="radio" name="layerToggle" value="outdoors">
                <label class="form-check-label" for="outdoors-v11">Outdoors</label>
            </div>
        </fieldset>
    </div>
</div>