{% extends "slm/base.html" %}
{% load widget_tweaks slm i18n compress %}

{% block page_content %}
<div class="row">
    <div class="col-2">
    {% block station_list %}
        {% include 'slm/widgets/stationlist.html' %}
    {% endblock %}
    </div>

    <div class="col-10">
      <div class="container-fluid">

          <div class="d-flex flex-column justify-content-left align-items-left my-4">
              <h2>New Site</h2>
              <hr>
          </div>

          <form id='slm-new-site-form'>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger slm-form-fail"><strong>{{ form.non_field_errors }}</strong></div>
            {% endif %}
            {% for field in form %}
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2 slm-form-input"{% endif %}>
                  <div class="col-3">
                      <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                  </div>
                  <div class="col-6">
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{error}}</div>
                        {% endfor %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}
                  </div>
                  <div class="col-3 align-items-center">
                      {% if field.help_text %}<a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="{{ field.help_text }}"><i class="bi bi-question-circle"></i></a>{% endif %}
                  </div>
                </div>
            {% endfor %}
            <!-- Cancel/Save Buttons -->
            <br/>
          </form>
          <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button onclick="newSite()" type='submit' name='update' class="btn btn-success">
                {% trans "Submit" %}
              </button>
          </div>
      </div>
    </div>

</div>

<script>

    const newSite = function() {
        let form = $('#slm-new-site-form');
        let data = slm.formToObject(form);
        let agencies = [];
        for (const agency of data.agencies) {
            agencies.push({id: agency});
        }
        data.agencies = agencies;
        $.ajax({
            url: "{% url 'slm_edit_api:stations-list' %}",
            method: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(
            function(data, status, jqXHR) {
                window.location = slm.urls.reverse(
                    'slm:edit', {kwargs: {station: data.name}}
                );
            }
        ).fail(
            function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.hasOwnProperty('responseJSON')) {
                    const error = jqXHR.responseJSON;
                    if (Array.isArray(data)) {
                        for (const error of data) {
                            form.prepend(
                                `<div class="alert alert-danger slm-form-fail">` +
                                    `<strong>${error}</strong>` +
                                `</div>`
                            );
                        }
                    } else {
                        for (const [key, value] of Object.entries(error)) {
                            let errorElem = form.find(`#id_${key}`);
                            errorElem.addClass('is-invalid');
                            errorElem.after(`<div class="invalid-feedback">${value}</div>`);
                        }
                    }
                } else if (jqXHR.hasOwnProperty('responseText')) {
                    form.prepend(
                        `<div class="alert alert-danger slm-form-fail">` +
                            `<strong>${jqXHR.responseText}</strong>` +
                         `</div>`
                    );
                }
                console.log(jqXHR);
            }
        );
    }

</script>

{% endblock %}
