{% extends "slm/base.html" %}
{% load slm i18n compress crispy_forms_tags %}

{% block page_content %}
<div class="row g-0">
    <div class="col-2">
    {% block station_list %}
        {% include 'slm/widgets/stationlist.html' %}
    {% endblock %}
    </div>

    <div class="col-10">
      <div class="m-5">

          <div class="d-flex flex-column justify-content-left align-items-left my-4">
              <h2>New Site</h2>
              <hr/>
          </div>

          <div class="p-5">
          {% crispy form %}
          </div>

          <div id="update" class="d-grid gap-2 d-flex justify-content-between">
              <button onclick="newSite()" type='submit' name='update' class="btn btn-success">
                {% trans "Submit" %}
              </button>
          </div>
      </div>
    </div>
</div>

<script>

    const newSite = function() {
        let form = $('#slm-new-site-form');
        let data = slm.formToObject(form);
        let agencies = [];
        for (const agency of (data.agencies || [])) {
            agencies.push({id: agency});
        }
        data.agencies = agencies;
        $.ajax({
            url: "{% url 'slm_edit_api:stations-list' %}",
            method: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(
            function(data, status, jqXHR) {
                window.location = slm.urls.reverse(
                    'slm:edit', {kwargs: {station: data.name}}
                );
            }
        ).fail(
            function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.hasOwnProperty('responseJSON')) {
                    const error = jqXHR.responseJSON;
                    if (Array.isArray(data)) {
                        for (const error of data) {
                            form.prepend(
                                `<div class="alert alert-danger slm-form-fail">` +
                                    `<strong>${error}</strong>` +
                                `</div>`
                            );
                        }
                    } else {
                        for (const [key, value] of Object.entries(error)) {
                            let errorElem = form.find(`#id_${key}`);
                            errorElem.addClass('is-invalid');
                            errorElem.after(`<div class="invalid-feedback">${value}</div>`);
                        }
                    }
                } else if (jqXHR.hasOwnProperty('responseText')) {
                    form.prepend(
                        `<div class="alert alert-danger slm-form-fail">` +
                            `<strong>${jqXHR.responseText}</strong>` +
                         `</div>`
                    );
                }
                console.log(jqXHR);
            }
        );
    }

</script>

{% endblock %}
