<!--

Template for upload page.

-->

{% extends "slm/base.html" %}

{% block page_content %}

<div class="container">
  <!-- Description -->
  <div class="d-flex flex-column justify-content-left align-items-left mt-5 my-4">
      <h1>Upload</h1>
      <hr>
  </div>

  <!-- Upload Form -->
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2> Upload ASCII Site Log File (.log)</h2>
    </br>
    {{ fileUpload.as_table }}
    </br>
    </br>
    <button type='submit', name = 'save', class="btn">
        Submit
    </button>
  </form>

</div>

{% endblock %}