{% load widget_tweaks i18n compress slm %}

<!-- Form Fields -->
<div class="form-group px-0">
  <form id="site-{{ form_id }}" data-slm-section="{{ section_id }}" data-has-published="{{form.instance.has_published}}" {% if form.group_name %}data-slm-group="{{ form.group_name }}"{% endif %} data-slm-site="{{ station }}" data-slm-id="{% if form.instance.id %}{{ form.instance.id }}{% endif %}" data-slm-flags="{{ flag_id }}" class="slm-form {% if form.instance.is_deleted %}slm-section-deleted{% endif %}" data-slm-method="post" data-slm-api="{{ form.api }}">
      <div class="alert alert-warning slm-form-unpublished" {% if not form.diff%}style="display: none"{% endif %}>{% trans "Changes have been saved but are not public, please "%} <a href="{% url 'slm:review' station=station %}">{% trans "submit to publish!" %}</a></div>
    <div class="alert alert-warning slm-form-deleted" {% if not form.instance.is_deleted %}style="display: none"{% endif %}>{% trans "This section has been deleted, please " %}<a href="{% url 'slm:review' station=station %}">{% trans "submit to publish!" %}</a></div>

    <div class="alert alert-danger slm-form-error" {% if not form.instance.flags %}style="display: none"{% endif %}>{% trans "This section has errors!" %}</div>
    {% csrf_token %}
    {% for structure in form.structured_fields %}
        {% if structure.0 %}
            <fieldset class="form-group slm-form-group">
            <legend>{{ structure.0 }}</legend>
        {% endif %}
        {% for field in structure.1 %}
          {% with diff=form.diff|key_value:field.name %}
            {% with flag=form.flags|key_value:field.name %}
              {% with field_id="id_"|add:field.name|add:"-"|add:form_id %}
                <fieldset class="form-group slm-form-fieldset" data-slm-field="{{ field.name }}">
                <legend></legend>
                <div {% if field.is_hidden %}style="display: none"{% else %}class="row align-items-center d-flex justify-content-between mb-2 slm-form-field"{% endif %}>
                  <div class="col-3">
                      <label class="form-label" for="{{ field_id }}">{{ field.label }}{% if field.field.required %} <span style="color: #EB0000;">*</span>{% endif %}</label>
                  </div>
                  {% if is_moderator and not form.instance.is_deleted %}
                  <div class="col-1 slm-mod-col p-0 text-end slm-flag">
                      <a tabindex="0"
                         type="button"
                      ><span class="slm-flag-error">
                          {% if not flag %}
                              <i class="bi bi-flag"></i><i class="bi bi-flag-fill"></i>
                          {% else %}
                              <i class="bi bi-x-circle"></i><i class="bi bi-x-circle-fill"></i>
                          {% endif %}
                      </span>
                      </a>
                  </div>
                  <div class="col-7">
                  {% else %}
                  <div class="col-8">
                  {% endif %}
                      {% if field.is_hidden %}
                        {% render_field field id=field_id %}
                      {% else %}
                        {% with field_classes=field|section_field_classes:form %}
                        {% if form.instance.is_deleted %}
                            {% render_field field id=field_id class+=field_classes disabled="" %}
                        {% else %}
                            {% render_field field id=field_id class+=field_classes %}
                        {% endif %}
                        {% endwith %}
                      {% endif %}
                      {% if not field.is_hidden %}
                      {% if is_moderator %}
                      <label for="{{ field_id|to_id:'flag'}}" style="display: none;"><span class="visually-hidden">Flag for {{ field.label }}</span></label>
                      <input id="{{ field_id|to_id:'flag'}}" type="text" name="{{ field.name }}_flag" data-slm-field="{{ field.name }}" {% if flag %}value="{{ flag }}"{% endif %} {% if not flag %}style="display: none;"{% endif %} class="form-control slm-flag-input" {% if form.instance.is_deleted %}disabled{% endif %}/>
                      {% elif flag %}
                          <div id="{{ field_id|to_id:'flag'}}" class="invalid-feedback slm-form-error">{{ flag }}</div>
                      {% endif %}
                      {% if diff %}
                          <div id="{{ field_id|to_id:'diff'}}" class="invalid-feedback slm-form-unpublished">{% trans "The published value is " %}{{ diff.pub|value_filter }}</div>
                      {% endif %}
                      {% endif %}
                  </div>
                  <div class="col-1">
                      {% if field.help_text %}
                      <a tabindex="0"
                         type="button"
                         data-bs-toggle="popover"
                         data-bs-trigger="focus"
                         data-bs-placement="right"
                         data-bs-content="{{ field.help_text }}"
                      ><i class="bi bi-question-circle"></i>
                      </a>
                      {% endif %}
                  </div>
                </div>
                </fieldset>
                {% endwith %}
              {% endwith %}
          {% endwith %}
        {% endfor %}
        {% if structure.0 %}
            </fieldset>
        {% endif %}
    {% endfor %}

    <br/>
    <!-- Save/Delete Buttons -->
    <div class="d-grid gap-2 d-flex justify-content-between">
      <div class="d-flex gap-2">
          <button type='button' name='save' class="btn btn-success" {% if form.instance.is_deleted %}style="display: none"{% endif %}>
            {% translate "Save" %}
          </button>
          <button type='button' name='publish' class="btn btn-success" {% if not can_publish or not form.instance.publishable %}style="display: none"{% endif %}>
            {% translate "Publish Changes" %}
          </button>
      </div>
        <div class="d-flex gap-2">
            <button type='button' name='revert' class="btn btn-danger" {% if not form.instance.publishable or not form.instance.has_published %}style="display: none"{% endif %} title="{% trans 'Revert all unpublished changes to their published state.' %}">
                {% translate "Revert" %}
            </button>
            <button type='button' name='delete' class="btn btn-danger" {% if not multi or form.instance.is_deleted %}style="display: none"{% endif %}>
                {% translate "Delete" %}
            </button>
        </div>
    </div>
  </form>
</div>
