<!--

Template for View/Diff page.

-->

{% extends "slm/station/base.html" %}
{% load compress slm i18n %}

{% block action_content %}
<div class="container">
  <!-- Title -->
  <div class="d-flex justify-content-between mt-4 pb-3 mx-5 border-bottom">
      <h2>Review and Submit</h2>
      <div id="review-actions">
        <button name="reject" onclick="reject();" class="btn btn-danger" {% if not can_publish or not site.review_pending %}style="display: none"{% endif %} {% if site.review_pending %}data-slm-review-request={{site.review_request.id}}{% endif %}>{% trans 'Reject Changes' %}</button>
        <button name="publish" onclick="publish();" class="btn btn-primary" {% if not can_publish or not needs_publish %}style="display: none"{% endif %}>{% trans 'Publish' %}</button>
        <button name="submit" onclick="submit();" class="btn btn-primary" {% if can_publish or not needs_publish %}style="display: none"{% endif %} {% if site.review_pending %}disabled{% endif %}>{% if site.review_pending %}{% trans 'Pending Review' %}{% else %}{% if SLM_ORG_NAME %}{% trans 'Submit to' %} {{SLM_ORG_NAME}}{% else %}{% trans 'Submit for Review' %}{% endif %}{% endif %}</button>
      </div>
  </div>

  <!-- View/Diff Comparison -->
  <div id="review-diff-container">
    <div class="d-flex justify-content-between mb-2">
        <div
            id="slm-review-back"
            class="d-flex justify-content-between"
        >
            <button class="btn btn-sm mx-1" {% if not back_prev %}disabled{% else %}data-slm-epoch="{{ back_prev }}"{% endif %}><i class="bi bi-skip-backward"></i></button>
            <div class="d-flex justify-content-center">
                <label for="back"></label>
                <input type="datetime-local" id="back" name="back" value="{{ back_current|strip_ms }}" max="{{ forward_current|strip_ms }}" {% if not back_current %}disabled{% endif %}>
            </div>
            <button class="btn btn-sm mx-1" {% if not back_next %}disabled{% else %}data-slm-epoch="{{ back_next }}"{% endif %}><i class="bi bi-skip-forward"></i></button>
        </div>
        <div
            id="slm-review-forward"
            class="d-flex justify-content-between"
        >
            <button class="btn btn-sm mx-1" {% if not foward_prev %}disabled{% else %}data-slm-epoch="{{ forward_prev }}"{% endif %}><i class="bi bi-skip-backward"></i></button>
            <div class="d-flex justify-content-center">
                <label for="forward"></label>
                <input type="datetime-local" id="forward" name="forward" value="{{ forward_current|strip_ms }}" min="{{ back_current|strip_ms }}" {% if not forward_current %}disabled{% endif %}>
            </div>
            <button class="btn btn-sm mx-1" {% if not forward_next %}disabled{% else %}data-slm-epoch="{{ forward_next }}"{% endif %}><i class="bi bi-skip-forward"></i></button>
        </div>
    </div>
    <pre id="review-diff"></pre>
  </div>
</div>
{% compress js inline %}
<script>
    const reviewActions = $('#review-actions');
    const submitBtn = reviewActions.find('button[name="submit"]');
    const publishBtn = reviewActions.find('button[name="publish"]');
    const rejectBtn = reviewActions.find('button[name="reject"]');

    const updateButtonState = function(request) {
        let site = request.site;
        rejectBtn.data('slmReviewRequest', request.id);
        rejectBtn.hide();
        submitBtn.hide();
        publishBtn.hide();
        let status = slm.SiteLogStatus.get(site.status);
        if (site.can_publish) {
            if (site.review_pending) {
                rejectBtn.show();
                publishBtn.show();
            } else if (
                status === slm.SiteLogStatus.UPDATED ||
                status === slm.SiteLogStatus.PENDING ||
                status === slm.SiteLogStatus.EMPTY
            ) {
                publishBtn.show();
            }
        } else {
            if (site.review_pending) {
                submitBtn.html("{% trans 'Pending Review' %}");
                submitBtn.prop('disabled', true);
                submitBtn.show();
            } else if (site.status !== 3) {
                submitBtn.html(
                    "{% if SLM_ORG_NAME %}{% trans 'Submit to' %} {{SLM_ORG_NAME}}" +
                    "{% else %}{% trans 'Submit for Review' %}{% endif %}"
                );
                submitBtn.prop('disabled', false);
                submitBtn.show();
            }
        }
    }

    const submit = function() {
        slm.requestReview('{{station}}').done(
            function(data, status, jqXHR) {
                updateButtonState(data);
            }
        ).fail(
            function(jqXHR, textStatus, errorThrown) {
                //alert(`{% trans 'Failed to submit' %}: ${jqXHR.responseText}`);
                $('body').html(jqXHR.responseText);
                console.log(jqXHR);
            }
        );
    }

    const publish = function() {
        slm.publish({{site.id}}).done(
            function(data, status, jqXHR) {
                updateButtonState({'site': data});
                let navBtn = $(`button#select-${data.name}`);
                navBtn.data('slmStatus', data.status);
                navBtn.addClass(slm.SiteLogStatus.get(data.status).css);
            }
        ).fail(
            function(jqXHR, textStatus, errorThrown) {
                //alert(`{% trans 'Failed to submit' %}: ${jqXHR.responseText}`);
                $('body').html(jqXHR.responseText);
                console.log(jqXHR);
            }
        );
    }

    const reject = function() {
        console.log(rejectBtn);
        console.log();
        slm.rejectReview(rejectBtn.data('slmReviewRequest')).done(
            function(data, status, jqXHR) {
                rejectBtn.data('slmReviewRequest', null);
                rejectBtn.hide();
            }
        ).fail(
            function(jqXHR, textStatus, errorThrown) {
                //alert(`{% trans 'Reject failed:' %}: ${jqXHR.responseText}`);
                $('body').html(jqXHR.responseText);
                console.log(jqXHR);
            }
        );
    }

    {% autoescape off %}
    const back_text = `{{ back_text|escapejs }}`;
    const forward_text = `{{ forward_text|escapejs }}`;
    const epoch = '{{ epoch }}';
    const published = {% if published %}true{% else %}false{% endif %};
    const options = {
        kwargs: {
            station: '{{ station }}'
        },
        query: {}
    };
    {% if published %}options.query.pub = true;{% endif %}
    {% if back_current %}options.query.back = '{{ back_current }}';{% endif %}
    {% if forward_current %}options.query.forward = '{{ forward_current }}';{% endif %}
    {% if epoch %}options.kwargs.epoch = '{{ epoch }}'{% endif %}

    {% endautoescape %}
    $(document).ready(function() {
        slm.showDiff(forward_text, back_text, $("#review-diff"), 'line'); // mode could also be 'word' or 'char'
        $('#slm-review-back > button').click(function() {
            options.query.back = $(this).data('slmEpoch');
            window.location = slm.urls.reverse('slm:review', options);
        });
        $('#slm-review-forward > button').click(function() {
            options.query.forward = $(this).data('slmEpoch');
            window.location = slm.urls.reverse('slm:review', options);
        });
        $('#slm-review-back > div > input').change(function() {
           options.query.back = $(this).val();
           window.location = slm.urls.reverse('slm:review', options);
        });
        $('#slm-review-forward > div > input').change(function() {
           options.query.forward = $(this).val();
           window.location = slm.urls.reverse('slm:review', options);
        });
    });
</script>
{% endcompress %}
{% endblock %}
